#  Equipa 44. Salud Mental: Depresión, tratamientos e instrumentos

*La Salud Mental es un aspecto fundamental para lograr el bienestar personal, social y emocional, ya que influye directamente en la forma en que pensamos, sentimos y actuamos frente a los desafíos cotidianos. En un mundo cada vez más acelerado e interconectado, el cuidado de la salud mental es esencial para prevenir trastornos como la ansiedad, la depresión y el estrés, que afectan a millones de personas en todo el mundo. Es importante promover la conciencia sobre este tema, derribar estigmas y fomentar el acceso a recursos de apoyo y tratamiento adecuados.*

Para lograrlo, queremos saber:

*   ¿Cuál es la prevalencia de la depresión en los diferentes grupos de edad?
*   ¿Existen diferencias significativas en la tasa de depresión entre hombres y mujeres?
*   ¿Los tratamientos utilizados actualmente son eficaces o no para prevenirlo?
*   ¿Qué tan correlacionada esta la variable sueño con el grado de depresión que padece el paciente?
*   ¿Qué tan confiable podríamos considerar la actigrafía como un instrumento para poder diagnosticar de forma temprana los síntomas de la depresión?

---

# Setting up

La base de datos principal que utilizaremos es la siguiente: [The Depression Dataset](https://www.kaggle.com/datasets/arashnic/the-depression-dataset/data)

In [ ]:
# Montamos Drive
# from google.colab import drive
# drive.mount('content/drive')

In [ ]:
# bibliotecas utilizadas
import os                             # interactuar con carpeta y archivos
from IPython.display import display
import pandas as pd
import numpy as np
import json
import requests                       # utilización de APIs

In [ ]:
# dataset1= "/content/drive/MyDrive/EQUIPA_44/data/condition" # pacientes con enfermedad
# dataset2= "/content/drive/MyDrive/EQUIPA_44/data/control" # pacientes sin enfermedad

dataset = "/content/drive/MyDrive/EQUIPA_44/data/"

In [ ]:
# cargando el archivo, manejando posibles errores

try:
  df_scores = pd.read_csv(dataset + "scores.csv")   # datos de cada paciente
  #df_con = pd.read_csv(dataset + "scores.csv", index_col = 0)   # actigrafo de cada paciente
  display(df_scores)
except FileNotFoundError as e:
  print("El archivo no se encontró, verifica la ruta")
  print(f'Error: {e}')
except pd.errors.ParserError as e:
  print("Problema al analizar el archivo")
  print(f'Error: {e}')
except Exception as e:
  print("Ocurrió un error inesperado")
  print(f'Error: {e}')
else:
  print("Lectura finalizada")

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

Lectura finalizada

In [ ]:
# para poder hacer el siguiente paso necesitamos ocupar la primer columna no como índice
df_scores.reset_index(drop=True, inplace=False)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0
5,condition_6,7,1,35-39,2.0,2.0,2.0,6-10,1.0,2.0,18.0,15.0
6,condition_7,11,1,20-24,1.0,NaN,2.0,11-15,2.0,1.0,24.0,25.0
7,condition_8,5,2,25-29,2.0,NaN,2.0,11-15,1.0,2.0,20.0,16.0
8,condition_9,13,2,45-49,1.0,NaN,2.0,6-10,1.0,2.0,26.0,26.0
9,condition_10,9,2,45-49,2.0,2.0,2.0,6-10,1.0,2.0,28.0,21.0
10,condition_11,14,1,45-49,2.0,2.0,2.0,6-10,1.0,2.0,24.0,24.0
11,condition_12,12,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,25.0,21.0
12,condition_13,14,2,35-39,1.0,2.0,2.0,11-15,2.0,2.0,18.0,13.0
13,condition_14,14,1,60-64,1.0,2.0,2.0,6-10,2.0,2.0,28.0,19.0
14,condition_15,13,2,55-59,2.0,2.0,2.0,11-15,1.0,1.0,14.0,18.0
15,condition_16,16,1,45-49,2.0,2.0,2.0,11-15,1.0,2.0,13.0,17.0
16,condition_17,13,1,50-54,1.0,2.0,2.0,6-10,1.0,2.0,17.0,15.0
17,condition_18,13,2,40-44,3.0,2.0,2.0,11-15,2.0,2.0,18.0,15.0
18,condition_19,13,2,50-54,2.0,2.0,1.0,16-20,2.0,2.0,26.0,21.0
19,condition_20,13,1,30-34,2.0,1.0,1.0,6-10,1.0,2.0,27.0,25.0
20,condition_21,13,2,35-39,2.0,2.0,1.0,6-10,2.0,2.0,26.0,21.0
21,condition_22,14,1,65-69,2.0,2.0,1.0,,2.0,2.0,29.0,28.0
22,condition_23,16,1,30-34,2.0,2.0,1.0,16-20,2.0,2.0,29.0,23.0
23,control_1,8,2,25-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,control_2,20,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
25,control_3,12,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
26,control_4,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
27,control_5,13,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
28,control_6,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
29,control_7,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
30,control_8,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
31,control_9,13,2,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
32,control_10,8,1,30-34,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
33,control_11,13,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
34,control_12,14,1,60-64,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
35,control_13,13,1,50-54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,control_14,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
37,control_15,11,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
38,control_16,13,2,40-44,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
39,control_17,9,1,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
40,control_18,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
41,control_19,13,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
42,control_20,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
43,control_21,8,1,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
44,control_22,13,1,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
45,control_23,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
46,control_24,13,2,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
47,control_25,13,1,65-69,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
48,control_26,13,1,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
49,control_27,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
50,control_28,16,2,45-49,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
51,control_29,13,2,50-54,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
52,control_30,9,2,35-39,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
53,control_31,13,1,20-24,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
54,control_32,14,2,25-29,NaN,NaN,NaN,,NaN,NaN,NaN,NaN

In [ ]:
# utilizaremos los datos de condition y control para obtener la actividad de ellos y la pondremos toda en un mismo df
# aprovecharemos para tratar los dentro, como conversión a tipo de dato datatime y la key con la que podremos juntar los datos a score

actigrafo = pd.DataFrame()                                                # crea un df nuevo

for dirname, _, filenames in os.walk(dataset):                            # itera sobre la carpeta, los archivos tienen nombre [conditional/control]_#
    for filename in filenames:
        if filename == 'scores.csv':                                      # ignoramos el archivo scores porque ya lo tenemos listo
            continue
        temp = pd.read_csv(os.path.join(dirname, filename))               # se lee el archivo actual
        temp['number'] = filename[:-4]                                    # crea la columna como igual al usado para el índice de df_scores

        try:
          temp['timestamp'] = pd.to_datetime(temp['timestamp'])           # convierte timestamp a datatime y cacha error
        except Exception as e:
          print(f'Error de conversión de fecha: {e}')

        temp = temp.drop(columns=['date'])                                # se deshace de la columna fecha (irrelevante para análisis)
        actigrafo = pd.concat([actigrafo, temp])                          # pone el archivo temporal en el df nuevo, haciendo "append" a las filas

In [ ]:
# hacemos copia para manipular sin perder datos permanentemente
df = df_scores.copy()
df.head()

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2.0,2.0,2.0,6-10,1.0,2.0,19.0,19.0
1,condition_2,18,2,40-44,1.0,2.0,2.0,6-10,2.0,2.0,24.0,11.0
2,condition_3,13,1,45-49,2.0,2.0,2.0,6-10,2.0,2.0,24.0,25.0
3,condition_4,13,2,25-29,2.0,2.0,2.0,11-15,1.0,1.0,20.0,16.0
4,condition_5,13,2,50-54,2.0,2.0,2.0,11-15,2.0,2.0,26.0,26.0

In [ ]:
df_act = actigrafo.copy()

# Limpieza, organización y estandarización de los datos

## Entendiendo nuestra db

### METADATA

#### *El primer nombre es con datos crudos, la flecha indica el cambio de nombre de columnas después de tratar los datos*
*   **number -> indiv:** object. indentificación de cada sujeto estudiado.
*   **condicion:** int64. interpretación booleana de cada sujeto, donde 1: Padece depresión y 2: No padece depresión.
*   **days -> dias:** int64. días en los que se midieron resultados con el actígrafo.
*   **gender -> genero:** int64. 1 : Femenino, 2: Masculino.
*   **age -> edad:** object. 10 diferentes rangos de edad de 20 a 69 años.
*   **edad_num:** int64. se reinterpretan los rangos de valores edad de manera numérica. '20-24': 1, '25-29': 2, '30-34': 3, '35-39': 4, '40-44': 5, '45-49': 6,'50-54': 7, '55-59': 8,'60-64': 9, '65-69': 10
*   **afftype -> tipo_diagnostico:** int64. Indica el padecimiento o no de tipo bipolar 1: bipolar II, 2: unipolar depresivo, 3: bipolar I.
*   **melanch:** int64. tipo de depresión 1: melancolía, 2: sin melancolía
*   **inpatient -> hospitalizacion:** int64. 1: Hospitalizado, 2: No Hospitalizado.
*   **edu:** object. años de educación de cada paciente, categorizados en tres rangos de 6 a 20 años.
*   **edu_num:** int64. asigna un valor numérico a cada rango de educación.
*   **marriage -> edo_civil:** int64. 1: unión legal/cohabita, 2: solterx.
*   **work:** int64. 1: trabaja/estudia, 2: sin empleo/pension/incapacidad.
*   **madrs1:** float64. Registro inicial del indicador Montgomery-Asberg Depression Rating Scale que evalua la intensidad de los síntomas depresivos en adultos, así como los efectos del tratamiento antidepresivo.
*   **madrs2:** float64. Registro final del indicador Montgomery-Asberg Depression Rating Scale.
*   **res_madrs:** Cálculo del progreso al iniciar y terminar la investigación.
*   **sum_act:** int64. Suma total de los datos de actividad obtenidos con el actígrafo en los días registrados
*   **prom_act:** float64. Promedio de actividad registrada de cada paciente.
*   **min_act:** int64. Registro de actividad mínima del paciente.
*   **max_act:** int64. Registro de actividad máxima del paciente.
*   **estres:** float64. Indicador de la cantidad de movimiento por día.
*   **nvl_depresion:** object. Categorización del indicador MADRS sobre el grado de depresión.
---

In [ ]:
# función resumen df (para este momento raw)

def summary_data(df):
  print("- "*9, "Información comprimida", "- "*9)
  print(df.info())                                                     # recuento gral
  print("- "*9, "Desglose de los datos", "- "*9)
  print(f'▻  Tamaño: {df.shape}')                                     # num filas y columnas
  print(f'\n▻  Tipos de datos por columna: \n{df.dtypes}')            # tipos de dato (raw)
  print(f'\n▻  Datos únicos por columna: \n{df.nunique()}')
  #colum_null = df.columns[df.isnull().any(axis=0)]
  #colum_null[colum_null == True].index
  #fila_null = df.isnull().any(axis=1)
  #fila_null[fila_null == True].index
  print(f'\n▻  Columnas con datos faltantes: \n{(df.isnull().any(axis=0)) == True}')
  #print(f'▻  Columnas con datos faltantes: \n')
  #for col in colum_null:
  #   print(f"{col}       True")
  print(f'\n▻  Filas con datos faltantes: \n{(df.isnull().any(axis=1)) == True}')
  print(f'\n▻  Filas con datos NaN: \n{df.isna()}')                               # qué datos son de tipo NaN ya que trabajamos en su mayoría con datos numéricos
  print(f'\n▻  Filas con datos NaN: \n{df.isna().sum()}')                         # NaNs por columna
  print("- "*9, "Estadísticos", "- "*9)
  print(f'▻  Dato más común por columna: \n{df.mode().iloc[0]}')
  print(f'\n▻  Resumen estadístico:\n')
  print(df.describe(include='all'))

In [ ]:
summary_data(df)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   number     55 non-null     object
 1   days       55 non-null     int64
 2   gender     55 non-null     int64
 3   age        55 non-null     object
 4   afftype    23 non-null     float64
 5   melanch    20 non-null     float64
 6   inpatient  23 non-null     float64
 7   edu        53 non-null     object
 8   marriage   23 non-null     float64
 9   work       23 non-null     float64
 10  madrs1     23 non-null     float64
 11  madrs2     23 non-null     float64
dtypes: float64(7), int64(2), object(3)
memory usage: 5.3+ KB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (55, 12)

▻  Tipos de datos por columna:
number        object
days           int64
gender         int64
age           object
afftype      float64
melanch      float64
inpatient    float64
edu           object
marriage     float64
work         float64
madrs1       float64
madrs2       float64
dtype: object

▻  Datos únicos por columna:
number       55
days         11
gender        2
age          10
afftype       3
melanch       2
inpatient     2
edu           4
marriage      2
work          2
madrs1       12
madrs2       13
dtype: int64

▻  Columnas con datos faltantes:
number       False
days         False
gender       False
age          False
afftype       True
melanch       True
inpatient     True
edu           True
marriage      True
work          True
madrs1        True
madrs2        True
dtype: bool

▻  Filas con datos faltantes:
0     False
1     False
2     False
3     False
4     False
5     False
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
50     True
51     True
52     True
53     True
54     True
dtype: bool

▻  Filas con datos NaN:
    number   days  gender    age  afftype  melanch  inpatient    edu  \
0    False  False   False  False    False    False      False  False
1    False  False   False  False    False    False      False  False
2    False  False   False  False    False    False      False  False
3    False  False   False  False    False    False      False  False
4    False  False   False  False    False    False      False  False
5    False  False   False  False    False    False      False  False
6    False  False   False  False    False     True      False  False
7    False  False   False  False    False     True      False  False
8    False  False   False  False    False     True      False  False
9    False  False   False  False    False    False      False  False
10   False  False   False  False    False    False      False  False
11   False  False   False  False    False    False      False  False
12   False  False   False  False    False    False      False  False
13   False  False   False  False    False    False      False  False
14   False  False   False  False    False    False      False  False
15   False  False   False  False    False    False      False  False
16   False  False   False  False    False    False      False  False
17   False  False   False  False    False    False      False  False
18   False  False   False  False    False    False      False  False
19   False  False   False  False    False    False      False  False
20   False  False   False  False    False    False      False  False
21   False  False   False  False    False    False      False  False
22   False  False   False  False    False    False      False  False
23   False  False   False  False     True     True       True   True
24   False  False   False  False     True     True       True  False
25   False  False   False  False     True     True       True  False
26   False  False   False  False     True     True       True  False
27   False  False   False  False     True     True       True  False
28   False  False   False  False     True     True       True  False
29   False  False   False  False     True     True       True  False
30   False  False   False  False     True     True       True  False
31   False  False   False  False     True     True       True  False
32   False  False   False  False     True     True       True  False
33   False  False   False  False     True     True       True  False
34   False  False   False  False     True     True       True  False
35   False  False   False  False     True     True       True   True
36   False  False   False  False     True     True       True  False
37   False  False   False  False     True     True       True  False
38   False  False   False  False     True     True       True  False
39   False  False   False  False     True     True       True  False
40   False  False   False  False     True     True       True  False
41   False  False   False  False     True     True       True  False
42   False  False   False  False     True     True       True  False
43   False  False   False  False     True     True       True  False
44   False  False   False  False     True     True       True  False
45   False  False   False  False     True     True       True  False
46   False  False   False  False     True     True       True  False
47   False  False   False  False     True     True       True  False
48   False  False   False  False     True     True       True  False
49   False  False   False  False     True     True       True  False
50   False  False   False  False     True     True       True  False
51   False  False   False  False     True     True       True  False
52   False  False   False  False     True     True       True  False
53   False  False   False  False     True     True       True  False
54   False  False   False  False     True     True       True  False

    marriage   work  madrs1  madrs2
0      False  False   False   False
1      False  False   False   False
2      False  False   False   False
3      False  False   False   False
4      False  False   False   False
5      False  False   False   False
6      False  False   False   False
7      False  False   False   False
8      False  False   False   False
9      False  False   False   False
10     False  False   False   False
11     False  False   False   False
12     False  False   False   False
13     False  False   False   False
14     False  False   False   False
15     False  False   False   False
16     False  False   False   False
17     False  False   False   False
18     False  False   False   False
19     False  False   False   False
20     False  False   False   False
21     False  False   False   False
22     False  False   False   False
23      True   True    True    True
24      True   True    True    True
25      True   True    True    True
26      True   True    True    True
27      True   True    True    True
28      True   True    True    True
29      True   True    True    True
30      True   True    True    True
31      True   True    True    True
32      True   True    True    True
33      True   True    True    True
34      True   True    True    True
35      True   True    True    True
36      True   True    True    True
37      True   True    True    True
38      True   True    True    True
39      True   True    True    True
40      True   True    True    True
41      True   True    True    True
42      True   True    True    True
43      True   True    True    True
44      True   True    True    True
45      True   True    True    True
46      True   True    True    True
47      True   True    True    True
48      True   True    True    True
49      True   True    True    True
50      True   True    True    True
51      True   True    True    True
52      True   True    True    True
53      True   True    True    True
54      True   True    True    True

▻  Filas con datos NaN:
number        0
days          0
gender        0
age           0
afftype      32
melanch      35
inpatient    32
edu           2
marriage     32
work         32
madrs1       32
madrs2       32
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
number       condition_1
days                13.0
gender               1.0
age                45-49
afftype              2.0
melanch              2.0
inpatient            2.0
edu
marriage             2.0
work                 2.0
madrs1              24.0
madrs2              21.0
Name: 0, dtype: object

▻  Resumen estadístico:

             number       days     gender    age    afftype    melanch  \
count            55  55.000000  55.000000     55  23.000000  20.000000
unique           55        NaN        NaN     10        NaN        NaN
top     condition_1        NaN        NaN  45-49        NaN        NaN
freq              1        NaN        NaN      9        NaN        NaN
mean            NaN  12.600000   1.454545    NaN   1.739130   1.950000
std             NaN   2.491467   0.502519    NaN   0.540824   0.223607
min             NaN   5.000000   1.000000    NaN   1.000000   1.000000
25%             NaN  13.000000   1.000000    NaN   1.000000   2.000000
50%             NaN  13.000000   1.000000    NaN   2.000000   2.000000
75%             NaN  13.000000   2.000000    NaN   2.000000   2.000000
max             NaN  20.000000   2.000000    NaN   3.000000   2.000000

        inpatient  edu   marriage       work     madrs1     madrs2
count   23.000000   53  23.000000  23.000000  23.000000  23.000000
unique        NaN    4        NaN        NaN        NaN        NaN
top           NaN             NaN        NaN        NaN        NaN
freq          NaN   31        NaN        NaN        NaN        NaN
mean     1.782609  NaN   1.521739   1.869565  22.739130  20.000000
std      0.421741  NaN   0.510754   0.344350   4.797892   4.729021
min      1.000000  NaN   1.000000   1.000000  13.000000  11.000000
25%      2.000000  NaN   1.000000   2.000000  18.500000  16.000000
50%      2.000000  NaN   2.000000   2.000000  24.000000  21.000000
75%      2.000000  NaN   2.000000   2.000000  26.000000  24.500000
max      2.000000  NaN   2.000000   2.000000  29.000000  28.000000

In [ ]:
summary_data(actigrafo)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
Index: 1571706 entries, 0 to 51610
Data columns (total 3 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timestamp  1571706 non-null  datetime64[ns]
 1   activity   1571706 non-null  int64
 2   number     1571706 non-null  object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 48.0+ MB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (1571706, 3)

▻  Tipos de datos por columna:
timestamp    datetime64[ns]
activity              int64
number               object
dtype: object

▻  Datos únicos por columna:
timestamp    834859
activity        916
number           55
dtype: int64

▻  Columnas con datos faltantes:
timestamp    False
activity     False
number       False
dtype: bool

▻  Filas con datos faltantes:
0        False
1        False
2        False
3        False
4        False
         ...
51606    False
51607    False
51608    False
51609    False
51610    False
Length: 1571706, dtype: bool

▻  Filas con datos NaN:
       timestamp  activity  number
0          False     False   False
1          False     False   False
2          False     False   False
3          False     False   False
4          False     False   False
...          ...       ...     ...
51606      False     False   False
51607      False     False   False
51608      False     False   False
51609      False     False   False
51610      False     False   False

[1571706 rows x 3 columns]

▻  Filas con datos NaN:
timestamp    0
activity     0
number       0
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
timestamp    2003-11-25 09:00:00
activity                     0.0
number                 control_3
Name: 0, dtype: object

▻  Resumen estadístico:

                            timestamp      activity     number
count                         1571706  1.571706e+06    1571706
unique                            NaN           NaN         55
top                               NaN           NaN  control_3
freq                              NaN           NaN      65407
mean    2003-12-11 11:28:18.007069824  1.795652e+02        NaN
min               2002-05-24 11:30:00  0.000000e+00        NaN
25%               2003-04-01 02:07:00  0.000000e+00        NaN
50%               2003-11-27 19:06:00  4.000000e+00        NaN
75%               2004-03-08 18:07:00  2.020000e+02        NaN
max               2006-02-14 13:38:00  8.000000e+03        NaN
std                               NaN  3.597233e+02        NaN

In [ ]:
# tenemos variables flotantes que no cuentan con parte decimal, entonces convertimos
conv = ['afftype','melanch','inpatient','marriage','work']

for columna in conv:
  df[columna] = pd.to_numeric(df[columna], errors = 'coerce').astype('Int64')

df.dtypes

number        object
days           int64
gender         int64
age           object
afftype        Int64
melanch        Int64
inpatient      Int64
edu           object
marriage       Int64
work           Int64
madrs1       float64
madrs2       float64
dtype: object

In [ ]:
display(df)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2,2,2,6-10,1,2,19.0,19.0
1,condition_2,18,2,40-44,1,2,2,6-10,2,2,24.0,11.0
2,condition_3,13,1,45-49,2,2,2,6-10,2,2,24.0,25.0
3,condition_4,13,2,25-29,2,2,2,11-15,1,1,20.0,16.0
4,condition_5,13,2,50-54,2,2,2,11-15,2,2,26.0,26.0
5,condition_6,7,1,35-39,2,2,2,6-10,1,2,18.0,15.0
6,condition_7,11,1,20-24,1,<NA>,2,11-15,2,1,24.0,25.0
7,condition_8,5,2,25-29,2,<NA>,2,11-15,1,2,20.0,16.0
8,condition_9,13,2,45-49,1,<NA>,2,6-10,1,2,26.0,26.0
9,condition_10,9,2,45-49,2,2,2,6-10,1,2,28.0,21.0
10,condition_11,14,1,45-49,2,2,2,6-10,1,2,24.0,24.0
11,condition_12,12,2,40-44,1,2,2,6-10,2,2,25.0,21.0
12,condition_13,14,2,35-39,1,2,2,11-15,2,2,18.0,13.0
13,condition_14,14,1,60-64,1,2,2,6-10,2,2,28.0,19.0
14,condition_15,13,2,55-59,2,2,2,11-15,1,1,14.0,18.0
15,condition_16,16,1,45-49,2,2,2,11-15,1,2,13.0,17.0
16,condition_17,13,1,50-54,1,2,2,6-10,1,2,17.0,15.0
17,condition_18,13,2,40-44,3,2,2,11-15,2,2,18.0,15.0
18,condition_19,13,2,50-54,2,2,1,16-20,2,2,26.0,21.0
19,condition_20,13,1,30-34,2,1,1,6-10,1,2,27.0,25.0
20,condition_21,13,2,35-39,2,2,1,6-10,2,2,26.0,21.0
21,condition_22,14,1,65-69,2,2,1,,2,2,29.0,28.0
22,condition_23,16,1,30-34,2,2,1,16-20,2,2,29.0,23.0
23,control_1,8,2,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
24,control_2,20,1,30-34,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
25,control_3,12,2,30-34,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
26,control_4,13,1,25-29,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
27,control_5,13,1,30-34,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
28,control_6,13,1,25-29,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
29,control_7,13,1,20-24,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
30,control_8,13,2,40-44,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
31,control_9,13,2,30-34,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
32,control_10,8,1,30-34,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
33,control_11,13,1,45-49,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
34,control_12,14,1,60-64,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
35,control_13,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
36,control_14,13,1,50-54,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
37,control_15,11,1,45-49,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
38,control_16,13,2,40-44,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
39,control_17,9,1,45-49,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
40,control_18,13,2,20-24,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
41,control_19,13,1,50-54,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
42,control_20,13,1,35-39,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
43,control_21,8,1,50-54,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
44,control_22,13,1,25-29,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
45,control_23,13,1,20-24,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
46,control_24,13,2,20-24,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
47,control_25,13,1,65-69,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
48,control_26,13,1,35-39,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
49,control_27,13,2,50-54,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
50,control_28,16,2,45-49,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
51,control_29,13,2,50-54,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
52,control_30,9,2,35-39,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
53,control_31,13,1,20-24,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN
54,control_32,14,2,25-29,<NA>,<NA>,<NA>,,<NA>,<NA>,NaN,NaN

In [ ]:
# la columna educación tiene valores nulos que no son NaN, para mejor tratamiento
df['edu'] = df['edu'].replace(' ', np.NaN)
df

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2
0,condition_1,11,2,35-39,2,2,2,6-10,1,2,19.0,19.0
1,condition_2,18,2,40-44,1,2,2,6-10,2,2,24.0,11.0
2,condition_3,13,1,45-49,2,2,2,6-10,2,2,24.0,25.0
3,condition_4,13,2,25-29,2,2,2,11-15,1,1,20.0,16.0
4,condition_5,13,2,50-54,2,2,2,11-15,2,2,26.0,26.0
5,condition_6,7,1,35-39,2,2,2,6-10,1,2,18.0,15.0
6,condition_7,11,1,20-24,1,<NA>,2,11-15,2,1,24.0,25.0
7,condition_8,5,2,25-29,2,<NA>,2,11-15,1,2,20.0,16.0
8,condition_9,13,2,45-49,1,<NA>,2,6-10,1,2,26.0,26.0
9,condition_10,9,2,45-49,2,2,2,6-10,1,2,28.0,21.0
10,condition_11,14,1,45-49,2,2,2,6-10,1,2,24.0,24.0
11,condition_12,12,2,40-44,1,2,2,6-10,2,2,25.0,21.0
12,condition_13,14,2,35-39,1,2,2,11-15,2,2,18.0,13.0
13,condition_14,14,1,60-64,1,2,2,6-10,2,2,28.0,19.0
14,condition_15,13,2,55-59,2,2,2,11-15,1,1,14.0,18.0
15,condition_16,16,1,45-49,2,2,2,11-15,1,2,13.0,17.0
16,condition_17,13,1,50-54,1,2,2,6-10,1,2,17.0,15.0
17,condition_18,13,2,40-44,3,2,2,11-15,2,2,18.0,15.0
18,condition_19,13,2,50-54,2,2,1,16-20,2,2,26.0,21.0
19,condition_20,13,1,30-34,2,1,1,6-10,1,2,27.0,25.0
20,condition_21,13,2,35-39,2,2,1,6-10,2,2,26.0,21.0
21,condition_22,14,1,65-69,2,2,1,NaN,2,2,29.0,28.0
22,condition_23,16,1,30-34,2,2,1,16-20,2,2,29.0,23.0
23,control_1,8,2,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
24,control_2,20,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
25,control_3,12,2,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
26,control_4,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
27,control_5,13,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
28,control_6,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
29,control_7,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
30,control_8,13,2,40-44,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
31,control_9,13,2,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
32,control_10,8,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
33,control_11,13,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
34,control_12,14,1,60-64,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
35,control_13,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
36,control_14,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
37,control_15,11,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
38,control_16,13,2,40-44,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
39,control_17,9,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
40,control_18,13,2,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
41,control_19,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
42,control_20,13,1,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
43,control_21,8,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
44,control_22,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
45,control_23,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
46,control_24,13,2,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
47,control_25,13,1,65-69,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
48,control_26,13,1,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
49,control_27,13,2,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
50,control_28,16,2,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
51,control_29,13,2,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
52,control_30,9,2,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
53,control_31,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN
54,control_32,14,2,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN

In [ ]:
# Creamos nuevas columnas para unir los datos de actigrafo a df
df['condition'] = df['number'].apply(lambda x: 1 if 'condition' in x else 0)              # poder distinguir de pacientes con depresión y pacientes que no

indic_actigrafo = actigrafo.groupby('number')['activity'].agg(['mean','min','max','sum'])       # agrupamos y sacamos estadisticos de toda la actividad para sintetizar la información

df = df.join(indic_actigrafo, on='number')                                                # une lo obtenido con el df en el que trabajaremos mediante el number

In [ ]:
display(df)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,condition,mean,min,max,sum
0,condition_1,11,2,35-39,2,2,2,6-10,1,2,19.0,19.0,1,146.948030,0,3526,3415660
1,condition_2,18,2,40-44,1,2,2,6-10,2,2,24.0,11.0,1,153.664748,0,4228,5981554
2,condition_3,13,1,45-49,2,2,2,6-10,2,2,24.0,25.0,1,265.299704,3,3847,5743208
3,condition_4,13,2,25-29,2,2,2,11-15,1,1,20.0,16.0,1,274.866998,0,6776,5925033
4,condition_5,13,2,50-54,2,2,2,11-15,2,2,26.0,26.0,1,167.245987,0,4609,3594618
5,condition_6,7,1,35-39,2,2,2,6-10,1,2,18.0,15.0,1,196.416414,0,4129,4209793
6,condition_7,11,1,20-24,1,<NA>,2,11-15,2,1,24.0,25.0,1,261.805502,0,4778,5805537
7,condition_8,5,2,25-29,2,<NA>,2,11-15,1,2,20.0,16.0,1,184.934453,0,5437,3569050
8,condition_9,13,2,45-49,1,<NA>,2,6-10,1,2,26.0,26.0,1,178.773304,0,2821,3632316
9,condition_10,9,2,45-49,2,2,2,6-10,1,2,28.0,21.0,1,289.647228,0,4935,6243346
10,condition_11,14,1,45-49,2,2,2,6-10,1,2,24.0,24.0,1,129.383036,0,3506,2974516
11,condition_12,12,2,40-44,1,2,2,6-10,2,2,25.0,21.0,1,151.444846,0,3622,3354049
12,condition_13,14,2,35-39,1,2,2,11-15,2,2,18.0,13.0,1,221.348746,0,4859,5735146
13,condition_14,14,1,60-64,1,2,2,6-10,2,2,28.0,19.0,1,75.049894,0,2929,1624530
14,condition_15,13,2,55-59,2,2,2,11-15,1,1,14.0,18.0,1,109.534060,0,6825,2391019
15,condition_16,16,1,45-49,2,2,2,11-15,1,2,13.0,17.0,1,146.442397,0,6964,6128175
16,condition_17,13,1,50-54,1,2,2,6-10,1,2,17.0,15.0,1,85.842181,0,3195,1848268
17,condition_18,13,2,40-44,3,2,2,11-15,2,2,18.0,15.0,1,71.104090,0,1355,1517859
18,condition_19,13,2,50-54,2,2,1,16-20,2,2,26.0,21.0,1,157.240215,0,8000,3338367
19,condition_20,13,1,30-34,2,1,1,6-10,1,2,27.0,25.0,1,54.697992,0,2150,1413779
20,condition_21,13,2,35-39,2,2,1,6-10,2,2,26.0,21.0,1,79.480061,0,3869,1628308
21,condition_22,14,1,65-69,2,2,1,NaN,2,2,29.0,28.0,1,161.756063,0,3222,3521753
22,condition_23,16,1,30-34,2,2,1,16-20,2,2,29.0,23.0,1,202.619088,0,5931,6379462
23,control_1,8,2,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,98.545078,0,6117,5086010
24,control_2,20,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,398.883456,0,4927,12554059
25,control_3,12,2,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,77.011207,0,3974,5037072
26,control_4,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,138.161055,0,4354,4345856
27,control_5,13,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,133.886343,0,3314,6310465
28,control_6,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,152.296614,0,7431,7856830
29,control_7,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,162.922975,0,8000,8388904
30,control_8,13,2,40-44,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,290.488104,0,6321,8400335
31,control_9,13,2,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,107.266651,0,2674,3114809
32,control_10,8,1,30-34,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,280.409097,0,4245,6072259
33,control_11,13,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,162.981229,0,6752,4037371
34,control_12,14,1,60-64,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,93.305309,0,2682,3231816
35,control_13,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,168.275060,0,3180,3745298
36,control_14,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,343.721506,0,5931,7650897
37,control_15,11,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,278.202039,0,4935,6193612
38,control_16,13,2,40-44,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,205.886898,0,8000,5055141
39,control_17,9,1,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,176.769002,0,4658,5109508
40,control_18,13,2,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,241.540993,0,4517,5945290
41,control_19,13,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,169.430331,0,2918,4677802
42,control_20,13,1,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,229.956445,0,8000,7333541
43,control_21,8,1,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,172.288577,0,3506,5502208
44,control_22,13,1,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,245.215511,0,6128,5318234
45,control_23,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,189.766848,0,3887,4116802
46,control_24,13,2,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,351.914589,0,8000,7680184
47,control_25,13,1,65-69,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,295.333715,0,4658,6443591
48,control_26,13,1,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,231.813128,0,8000,7734445
49,control_27,13,2,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,314.047194,0,3869,6434827
50,control_28,16,2,45-49,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,293.433689,0,5750,7199689
51,control_29,13,2,50-54,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,237.950190,0,4658,5813837
52,control_30,9,2,35-39,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,219.458904,0,4228,4755455
53,control_31,13,1,20-24,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,147.486583,0,4753,7579188
54,control_32,14,2,25-29,<NA>,<NA>,<NA>,NaN,<NA>,<NA>,NaN,NaN,0,68.251613,0,4009,3523080

In [ ]:
# Tratamieno de datos nulo
column_na = {
    'afftype': 'afftype',
    'melanch': 'melanch',
    'inpatient': 'inpatient',
    'edu': 'edu',
    'marriage': 'marriage',
    'work': 'work',
    'madrs1': 'madrs1',
    'madrs2': 'madrs2'
}

# Aplicamos fillna(0) a las columnas seleccionadas
# no se aplican valores de media ni predicciones porque no se dan otros datos adicionales a control
for col in column_na.values():
  df[col] = df[col].fillna(0)

display(df)

,number,days,gender,age,afftype,melanch,inpatient,edu,marriage,work,madrs1,madrs2,condition,mean,min,max,sum
0,condition_1,11,2,35-39,2,2,2,6-10,1,2,19.0,19.0,1,146.948030,0,3526,3415660
1,condition_2,18,2,40-44,1,2,2,6-10,2,2,24.0,11.0,1,153.664748,0,4228,5981554
2,condition_3,13,1,45-49,2,2,2,6-10,2,2,24.0,25.0,1,265.299704,3,3847,5743208
3,condition_4,13,2,25-29,2,2,2,11-15,1,1,20.0,16.0,1,274.866998,0,6776,5925033
4,condition_5,13,2,50-54,2,2,2,11-15,2,2,26.0,26.0,1,167.245987,0,4609,3594618
5,condition_6,7,1,35-39,2,2,2,6-10,1,2,18.0,15.0,1,196.416414,0,4129,4209793
6,condition_7,11,1,20-24,1,0,2,11-15,2,1,24.0,25.0,1,261.805502,0,4778,5805537
7,condition_8,5,2,25-29,2,0,2,11-15,1,2,20.0,16.0,1,184.934453,0,5437,3569050
8,condition_9,13,2,45-49,1,0,2,6-10,1,2,26.0,26.0,1,178.773304,0,2821,3632316
9,condition_10,9,2,45-49,2,2,2,6-10,1,2,28.0,21.0,1,289.647228,0,4935,6243346
10,condition_11,14,1,45-49,2,2,2,6-10,1,2,24.0,24.0,1,129.383036,0,3506,2974516
11,condition_12,12,2,40-44,1,2,2,6-10,2,2,25.0,21.0,1,151.444846,0,3622,3354049
12,condition_13,14,2,35-39,1,2,2,11-15,2,2,18.0,13.0,1,221.348746,0,4859,5735146
13,condition_14,14,1,60-64,1,2,2,6-10,2,2,28.0,19.0,1,75.049894,0,2929,1624530
14,condition_15,13,2,55-59,2,2,2,11-15,1,1,14.0,18.0,1,109.534060,0,6825,2391019
15,condition_16,16,1,45-49,2,2,2,11-15,1,2,13.0,17.0,1,146.442397,0,6964,6128175
16,condition_17,13,1,50-54,1,2,2,6-10,1,2,17.0,15.0,1,85.842181,0,3195,1848268
17,condition_18,13,2,40-44,3,2,2,11-15,2,2,18.0,15.0,1,71.104090,0,1355,1517859
18,condition_19,13,2,50-54,2,2,1,16-20,2,2,26.0,21.0,1,157.240215,0,8000,3338367
19,condition_20,13,1,30-34,2,1,1,6-10,1,2,27.0,25.0,1,54.697992,0,2150,1413779
20,condition_21,13,2,35-39,2,2,1,6-10,2,2,26.0,21.0,1,79.480061,0,3869,1628308
21,condition_22,14,1,65-69,2,2,1,0,2,2,29.0,28.0,1,161.756063,0,3222,3521753
22,condition_23,16,1,30-34,2,2,1,16-20,2,2,29.0,23.0,1,202.619088,0,5931,6379462
23,control_1,8,2,25-29,0,0,0,0,0,0,0.0,0.0,0,98.545078,0,6117,5086010
24,control_2,20,1,30-34,0,0,0,0,0,0,0.0,0.0,0,398.883456,0,4927,12554059
25,control_3,12,2,30-34,0,0,0,0,0,0,0.0,0.0,0,77.011207,0,3974,5037072
26,control_4,13,1,25-29,0,0,0,0,0,0,0.0,0.0,0,138.161055,0,4354,4345856
27,control_5,13,1,30-34,0,0,0,0,0,0,0.0,0.0,0,133.886343,0,3314,6310465
28,control_6,13,1,25-29,0,0,0,0,0,0,0.0,0.0,0,152.296614,0,7431,7856830
29,control_7,13,1,20-24,0,0,0,0,0,0,0.0,0.0,0,162.922975,0,8000,8388904
30,control_8,13,2,40-44,0,0,0,0,0,0,0.0,0.0,0,290.488104,0,6321,8400335
31,control_9,13,2,30-34,0,0,0,0,0,0,0.0,0.0,0,107.266651,0,2674,3114809
32,control_10,8,1,30-34,0,0,0,0,0,0,0.0,0.0,0,280.409097,0,4245,6072259
33,control_11,13,1,45-49,0,0,0,0,0,0,0.0,0.0,0,162.981229,0,6752,4037371
34,control_12,14,1,60-64,0,0,0,0,0,0,0.0,0.0,0,93.305309,0,2682,3231816
35,control_13,13,1,50-54,0,0,0,0,0,0,0.0,0.0,0,168.275060,0,3180,3745298
36,control_14,13,1,50-54,0,0,0,0,0,0,0.0,0.0,0,343.721506,0,5931,7650897
37,control_15,11,1,45-49,0,0,0,0,0,0,0.0,0.0,0,278.202039,0,4935,6193612
38,control_16,13,2,40-44,0,0,0,0,0,0,0.0,0.0,0,205.886898,0,8000,5055141
39,control_17,9,1,45-49,0,0,0,0,0,0,0.0,0.0,0,176.769002,0,4658,5109508
40,control_18,13,2,20-24,0,0,0,0,0,0,0.0,0.0,0,241.540993,0,4517,5945290
41,control_19,13,1,50-54,0,0,0,0,0,0,0.0,0.0,0,169.430331,0,2918,4677802
42,control_20,13,1,35-39,0,0,0,0,0,0,0.0,0.0,0,229.956445,0,8000,7333541
43,control_21,8,1,50-54,0,0,0,0,0,0,0.0,0.0,0,172.288577,0,3506,5502208
44,control_22,13,1,25-29,0,0,0,0,0,0,0.0,0.0,0,245.215511,0,6128,5318234
45,control_23,13,1,20-24,0,0,0,0,0,0,0.0,0.0,0,189.766848,0,3887,4116802
46,control_24,13,2,20-24,0,0,0,0,0,0,0.0,0.0,0,351.914589,0,8000,7680184
47,control_25,13,1,65-69,0,0,0,0,0,0,0.0,0.0,0,295.333715,0,4658,6443591
48,control_26,13,1,35-39,0,0,0,0,0,0,0.0,0.0,0,231.813128,0,8000,7734445
49,control_27,13,2,50-54,0,0,0,0,0,0,0.0,0.0,0,314.047194,0,3869,6434827
50,control_28,16,2,45-49,0,0,0,0,0,0,0.0,0.0,0,293.433689,0,5750,7199689
51,control_29,13,2,50-54,0,0,0,0,0,0,0.0,0.0,0,237.950190,0,4658,5813837
52,control_30,9,2,35-39,0,0,0,0,0,0,0.0,0.0,0,219.458904,0,4228,4755455
53,control_31,13,1,20-24,0,0,0,0,0,0,0.0,0.0,0,147.486583,0,4753,7579188
54,control_32,14,2,25-29,0,0,0,0,0,0,0.0,0.0,0,68.251613,0,4009,3523080

In [ ]:
# Tratando los datos tipo objeto
df.age.unique()
df.edu.unique()
print(f'valores únicos edad: {df.age.unique()}\nvalores únicos educación: {df.edu.unique()}')
print(f'valores nulos:\n{df.isnull().sum()}')

valores únicos edad: ['35-39' '40-44' '45-49' '25-29' '50-54' '20-24' '60-64' '55-59' '30-34'
 '65-69']
valores únicos educación: ['6-10' '11-15' '16-20' 0]
valores nulos:
number       0
days         0
gender       0
age          0
afftype      0
melanch      0
inpatient    0
edu          0
marriage     0
work         0
madrs1       0
madrs2       0
condition    0
mean         0
min          0
max          0
sum          0
dtype: int64

In [ ]:
# para poder tratar fácilmente los datos objeto, agregamos columnas con su equivalencia numérica
# para AGE de menor a mayor años

df['edad_num'] = df['age'].replace({
    '20-24': 1, '25-29': 2,
    '30-34': 3, '35-39': 4,
    '40-44': 5, '45-49': 6,
    '50-54': 7, '55-59': 8,
    '60-64': 9, '65-69': 10
})

df.insert(4, 'edad_num', df.pop('edad_num'))

In [ ]:
# para EDU de menor a mayor años
df['edu_num'] = df['edu'].replace({
    '6-10': 1,
    '11-15': 2,
    '16-20': 3,
    '0': 0
})

df.insert(9, 'edu_num', df.pop('edu_num'))

In [ ]:
display(df)

,number,days,gender,age,edad_num,afftype,melanch,inpatient,edu,edu_num,marriage,work,madrs1,madrs2,condition,mean,min,max,sum
0,condition_1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,1,146.948030,0,3526,3415660
1,condition_2,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,1,153.664748,0,4228,5981554
2,condition_3,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,1,265.299704,3,3847,5743208
3,condition_4,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,1,274.866998,0,6776,5925033
4,condition_5,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,1,167.245987,0,4609,3594618
5,condition_6,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,1,196.416414,0,4129,4209793
6,condition_7,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,1,261.805502,0,4778,5805537
7,condition_8,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,1,184.934453,0,5437,3569050
8,condition_9,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,1,178.773304,0,2821,3632316
9,condition_10,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,1,289.647228,0,4935,6243346
10,condition_11,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,1,129.383036,0,3506,2974516
11,condition_12,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,1,151.444846,0,3622,3354049
12,condition_13,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,1,221.348746,0,4859,5735146
13,condition_14,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,1,75.049894,0,2929,1624530
14,condition_15,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,1,109.534060,0,6825,2391019
15,condition_16,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,1,146.442397,0,6964,6128175
16,condition_17,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,1,85.842181,0,3195,1848268
17,condition_18,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,1,71.104090,0,1355,1517859
18,condition_19,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,1,157.240215,0,8000,3338367
19,condition_20,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,1,54.697992,0,2150,1413779
20,condition_21,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,1,79.480061,0,3869,1628308
21,condition_22,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,1,161.756063,0,3222,3521753
22,condition_23,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,1,202.619088,0,5931,6379462
23,control_1,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0,98.545078,0,6117,5086010
24,control_2,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0,398.883456,0,4927,12554059
25,control_3,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0,77.011207,0,3974,5037072
26,control_4,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0,138.161055,0,4354,4345856
27,control_5,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0,133.886343,0,3314,6310465
28,control_6,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0,152.296614,0,7431,7856830
29,control_7,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0,162.922975,0,8000,8388904
30,control_8,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0,290.488104,0,6321,8400335
31,control_9,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0,107.266651,0,2674,3114809
32,control_10,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0,280.409097,0,4245,6072259
33,control_11,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0,162.981229,0,6752,4037371
34,control_12,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,0,93.305309,0,2682,3231816
35,control_13,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,168.275060,0,3180,3745298
36,control_14,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,343.721506,0,5931,7650897
37,control_15,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0,278.202039,0,4935,6193612
38,control_16,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0,205.886898,0,8000,5055141
39,control_17,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0,176.769002,0,4658,5109508
40,control_18,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0,241.540993,0,4517,5945290
41,control_19,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,169.430331,0,2918,4677802
42,control_20,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0,229.956445,0,8000,7333541
43,control_21,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,172.288577,0,3506,5502208
44,control_22,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0,245.215511,0,6128,5318234
45,control_23,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0,189.766848,0,3887,4116802
46,control_24,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0,351.914589,0,8000,7680184
47,control_25,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,0,295.333715,0,4658,6443591
48,control_26,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0,231.813128,0,8000,7734445
49,control_27,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,314.047194,0,3869,6434827
50,control_28,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0,293.433689,0,5750,7199689
51,control_29,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0,237.950190,0,4658,5813837
52,control_30,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0,219.458904,0,4228,4755455
53,control_31,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0,147.486583,0,4753,7579188
54,control_32,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0,68.251613,0,4009,3523080

In [ ]:
summary_data(df)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   number     55 non-null     object
 1   days       55 non-null     int64
 2   gender     55 non-null     int64
 3   age        55 non-null     object
 4   edad_num   55 non-null     int64
 5   afftype    55 non-null     Int64
 6   melanch    55 non-null     Int64
 7   inpatient  55 non-null     Int64
 8   edu        55 non-null     object
 9   edu_num    55 non-null     int64
 10  marriage   55 non-null     Int64
 11  work       55 non-null     Int64
 12  madrs1     55 non-null     float64
 13  madrs2     55 non-null     float64
 14  condition  55 non-null     int64
 15  mean       55 non-null     float64
 16  min        55 non-null     int64
 17  max        55 non-null     int64
 18  sum        55 non-null     int64
dtypes: Int64(5), float64(3), int64(8), object(3)
memory usage: 8.6+ KB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (55, 19)

▻  Tipos de datos por columna:
number        object
days           int64
gender         int64
age           object
edad_num       int64
afftype        Int64
melanch        Int64
inpatient      Int64
edu           object
edu_num        int64
marriage       Int64
work           Int64
madrs1       float64
madrs2       float64
condition      int64
mean         float64
min            int64
max            int64
sum            int64
dtype: object

▻  Datos únicos por columna:
number       55
days         11
gender        2
age          10
edad_num     10
afftype       4
melanch       3
inpatient     3
edu           4
edu_num       4
marriage      3
work          3
madrs1       13
madrs2       14
condition     2
mean         55
min           2
max          43
sum          55
dtype: int64

▻  Columnas con datos faltantes:
number       False
days         False
gender       False
age          False
edad_num     False
afftype      False
melanch      False
inpatient    False
edu          False
edu_num      False
marriage     False
work         False
madrs1       False
madrs2       False
condition    False
mean         False
min          False
max          False
sum          False
dtype: bool

▻  Filas con datos faltantes:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
dtype: bool

▻  Filas con datos NaN:
    number   days  gender    age  edad_num  afftype  melanch  inpatient  \
0    False  False   False  False     False    False    False      False
1    False  False   False  False     False    False    False      False
2    False  False   False  False     False    False    False      False
3    False  False   False  False     False    False    False      False
4    False  False   False  False     False    False    False      False
5    False  False   False  False     False    False    False      False
6    False  False   False  False     False    False    False      False
7    False  False   False  False     False    False    False      False
8    False  False   False  False     False    False    False      False
9    False  False   False  False     False    False    False      False
10   False  False   False  False     False    False    False      False
11   False  False   False  False     False    False    False      False
12   False  False   False  False     False    False    False      False
13   False  False   False  False     False    False    False      False
14   False  False   False  False     False    False    False      False
15   False  False   False  False     False    False    False      False
16   False  False   False  False     False    False    False      False
17   False  False   False  False     False    False    False      False
18   False  False   False  False     False    False    False      False
19   False  False   False  False     False    False    False      False
20   False  False   False  False     False    False    False      False
21   False  False   False  False     False    False    False      False
22   False  False   False  False     False    False    False      False
23   False  False   False  False     False    False    False      False
24   False  False   False  False     False    False    False      False
25   False  False   False  False     False    False    False      False
26   False  False   False  False     False    False    False      False
27   False  False   False  False     False    False    False      False
28   False  False   False  False     False    False    False      False
29   False  False   False  False     False    False    False      False
30   False  False   False  False     False    False    False      False
31   False  False   False  False     False    False    False      False
32   False  False   False  False     False    False    False      False
33   False  False   False  False     False    False    False      False
34   False  False   False  False     False    False    False      False
35   False  False   False  False     False    False    False      False
36   False  False   False  False     False    False    False      False
37   False  False   False  False     False    False    False      False
38   False  False   False  False     False    False    False      False
39   False  False   False  False     False    False    False      False
40   False  False   False  False     False    False    False      False
41   False  False   False  False     False    False    False      False
42   False  False   False  False     False    False    False      False
43   False  False   False  False     False    False    False      False
44   False  False   False  False     False    False    False      False
45   False  False   False  False     False    False    False      False
46   False  False   False  False     False    False    False      False
47   False  False   False  False     False    False    False      False
48   False  False   False  False     False    False    False      False
49   False  False   False  False     False    False    False      False
50   False  False   False  False     False    False    False      False
51   False  False   False  False     False    False    False      False
52   False  False   False  False     False    False    False      False
53   False  False   False  False     False    False    False      False
54   False  False   False  False     False    False    False      False

      edu  edu_num  marriage   work  madrs1  madrs2  condition   mean    min  \
0   False    False     False  False   False   False      False  False  False
1   False    False     False  False   False   False      False  False  False
2   False    False     False  False   False   False      False  False  False
3   False    False     False  False   False   False      False  False  False
4   False    False     False  False   False   False      False  False  False
5   False    False     False  False   False   False      False  False  False
6   False    False     False  False   False   False      False  False  False
7   False    False     False  False   False   False      False  False  False
8   False    False     False  False   False   False      False  False  False
9   False    False     False  False   False   False      False  False  False
10  False    False     False  False   False   False      False  False  False
11  False    False     False  False   False   False      False  False  False
12  False    False     False  False   False   False      False  False  False
13  False    False     False  False   False   False      False  False  False
14  False    False     False  False   False   False      False  False  False
15  False    False     False  False   False   False      False  False  False
16  False    False     False  False   False   False      False  False  False
17  False    False     False  False   False   False      False  False  False
18  False    False     False  False   False   False      False  False  False
19  False    False     False  False   False   False      False  False  False
20  False    False     False  False   False   False      False  False  False
21  False    False     False  False   False   False      False  False  False
22  False    False     False  False   False   False      False  False  False
23  False    False     False  False   False   False      False  False  False
24  False    False     False  False   False   False      False  False  False
25  False    False     False  False   False   False      False  False  False
26  False    False     False  False   False   False      False  False  False
27  False    False     False  False   False   False      False  False  False
28  False    False     False  False   False   False      False  False  False
29  False    False     False  False   False   False      False  False  False
30  False    False     False  False   False   False      False  False  False
31  False    False     False  False   False   False      False  False  False
32  False    False     False  False   False   False      False  False  False
33  False    False     False  False   False   False      False  False  False
34  False    False     False  False   False   False      False  False  False
35  False    False     False  False   False   False      False  False  False
36  False    False     False  False   False   False      False  False  False
37  False    False     False  False   False   False      False  False  False
38  False    False     False  False   False   False      False  False  False
39  False    False     False  False   False   False      False  False  False
40  False    False     False  False   False   False      False  False  False
41  False    False     False  False   False   False      False  False  False
42  False    False     False  False   False   False      False  False  False
43  False    False     False  False   False   False      False  False  False
44  False    False     False  False   False   False      False  False  False
45  False    False     False  False   False   False      False  False  False
46  False    False     False  False   False   False      False  False  False
47  False    False     False  False   False   False      False  False  False
48  False    False     False  False   False   False      False  False  False
49  False    False     False  False   False   False      False  False  False
50  False    False     False  False   False   False      False  False  False
51  False    False     False  False   False   False      False  False  False
52  False    False     False  False   False   False      False  False  False
53  False    False     False  False   False   False      False  False  False
54  False    False     False  False   False   False      False  False  False

      max    sum
0   False  False
1   False  False
2   False  False
3   False  False
4   False  False
5   False  False
6   False  False
7   False  False
8   False  False
9   False  False
10  False  False
11  False  False
12  False  False
13  False  False
14  False  False
15  False  False
16  False  False
17  False  False
18  False  False
19  False  False
20  False  False
21  False  False
22  False  False
23  False  False
24  False  False
25  False  False
26  False  False
27  False  False
28  False  False
29  False  False
30  False  False
31  False  False
32  False  False
33  False  False
34  False  False
35  False  False
36  False  False
37  False  False
38  False  False
39  False  False
40  False  False
41  False  False
42  False  False
43  False  False
44  False  False
45  False  False
46  False  False
47  False  False
48  False  False
49  False  False
50  False  False
51  False  False
52  False  False
53  False  False
54  False  False

▻  Filas con datos NaN:
number       0
days         0
gender       0
age          0
edad_num     0
afftype      0
melanch      0
inpatient    0
edu          0
edu_num      0
marriage     0
work         0
madrs1       0
madrs2       0
condition    0
mean         0
min          0
max          0
sum          0
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
number       condition_1
days                13.0
gender               1.0
age                45-49
edad_num             6.0
afftype                0
melanch                0
inpatient              0
edu                    0
edu_num              0.0
marriage               0
work                   0
madrs1               0.0
madrs2               0.0
condition            0.0
mean           54.697992
min                  0.0
max               8000.0
sum              1413779
Name: 0, dtype: object

▻  Resumen estadístico:

             number       days     gender    age   edad_num   afftype  \
count            55  55.000000  55.000000     55  55.000000      55.0
unique           55        NaN        NaN     10        NaN      <NA>
top     condition_1        NaN        NaN  45-49        NaN      <NA>
freq              1        NaN        NaN      9        NaN      <NA>
mean            NaN  12.600000   1.454545    NaN   4.672727  0.727273
std             NaN   2.491467   0.502519    NaN   2.449902  0.932034
min             NaN   5.000000   1.000000    NaN   1.000000       0.0
25%             NaN  13.000000   1.000000    NaN   3.000000       0.0
50%             NaN  13.000000   1.000000    NaN   5.000000       0.0
75%             NaN  13.000000   2.000000    NaN   6.500000       2.0
max             NaN  20.000000   2.000000    NaN  10.000000       3.0

         melanch  inpatient   edu    edu_num  marriage      work     madrs1  \
count       55.0       55.0  55.0  55.000000      55.0      55.0  55.000000
unique      <NA>       <NA>   4.0        NaN      <NA>      <NA>        NaN
top         <NA>       <NA>   0.0        NaN      <NA>      <NA>        NaN
freq        <NA>       <NA>  33.0        NaN      <NA>      <NA>        NaN
mean    0.709091   0.745455   NaN   0.618182  0.636364  0.781818   9.509091
std     0.955931   0.927326   NaN   0.871162  0.824703  0.956283  11.726628
min          0.0        0.0   NaN   0.000000       0.0       0.0   0.000000
25%          0.0        0.0   NaN   0.000000       0.0       0.0   0.000000
50%          0.0        0.0   NaN   0.000000       0.0       0.0   0.000000
75%          2.0        2.0   NaN   1.000000       1.0       2.0  22.000000
max          2.0        2.0   NaN   3.000000       2.0       2.0  29.000000

           madrs2  condition        mean        min          max           sum
count   55.000000  55.000000   55.000000  55.000000    55.000000  5.500000e+01
unique        NaN        NaN         NaN        NaN          NaN           NaN
top           NaN        NaN         NaN        NaN          NaN           NaN
freq          NaN        NaN         NaN        NaN          NaN           NaN
mean     8.363636   0.418182  189.862636   0.054545  4834.345455  5.131341e+06
std     10.403638   0.497807   80.547674   0.404520  1700.860776  2.119601e+06
min      0.000000   0.000000   54.697992   0.000000  1355.000000  1.413779e+06
25%      0.000000   0.000000  142.301726   0.000000  3574.000000  3.546065e+06
50%      0.000000   0.000000  172.288577   0.000000  4609.000000  5.109508e+06
75%     18.500000   1.000000  243.378252   0.000000  6024.000000  6.276906e+06
max     28.000000   1.000000  398.883456   3.000000  8000.000000  1.255406e+07

In [ ]:
# organizar columnas, se hace una prueba antes de aplicarla al df que estamos utilizando

def reorganizar(df_name, columna, posicion):
  cols = list(df_name.columns)                                         # hacemos una lista con todas los identificadores columna del df
  cols.insert(posicion, cols.pop(cols.index(columna)))                 # inserta en la posicion que indicamos la columna que se saca con pop del df
  return df_name[cols]                                                 # retorna df reorganizado

In [ ]:
df = reorganizar(df, 'condition', 1)
display(df)

,number,condition,days,gender,age,edad_num,afftype,melanch,inpatient,edu,edu_num,marriage,work,madrs1,madrs2,mean,min,max,sum
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,146.948030,0,3526,3415660
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,153.664748,0,4228,5981554
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,265.299704,3,3847,5743208
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,274.866998,0,6776,5925033
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,167.245987,0,4609,3594618
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,196.416414,0,4129,4209793
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,261.805502,0,4778,5805537
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,184.934453,0,5437,3569050
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,178.773304,0,2821,3632316
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,289.647228,0,4935,6243346
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,129.383036,0,3506,2974516
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,151.444846,0,3622,3354049
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,221.348746,0,4859,5735146
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,75.049894,0,2929,1624530
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,109.534060,0,6825,2391019
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,146.442397,0,6964,6128175
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,85.842181,0,3195,1848268
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,71.104090,0,1355,1517859
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,157.240215,0,8000,3338367
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,54.697992,0,2150,1413779
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,79.480061,0,3869,1628308
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,161.756063,0,3222,3521753
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,202.619088,0,5931,6379462
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,98.545078,0,6117,5086010
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,398.883456,0,4927,12554059
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,77.011207,0,3974,5037072
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,138.161055,0,4354,4345856
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,133.886343,0,3314,6310465
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,152.296614,0,7431,7856830
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,162.922975,0,8000,8388904
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,290.488104,0,6321,8400335
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,107.266651,0,2674,3114809
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,280.409097,0,4245,6072259
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,162.981229,0,6752,4037371
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,93.305309,0,2682,3231816
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,168.275060,0,3180,3745298
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,343.721506,0,5931,7650897
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,278.202039,0,4935,6193612
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,205.886898,0,8000,5055141
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,176.769002,0,4658,5109508
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,241.540993,0,4517,5945290
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,169.430331,0,2918,4677802
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,229.956445,0,8000,7333541
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,172.288577,0,3506,5502208
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,245.215511,0,6128,5318234
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,189.766848,0,3887,4116802
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,351.914589,0,8000,7680184
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,295.333715,0,4658,6443591
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,231.813128,0,8000,7734445
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,314.047194,0,3869,6434827
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,293.433689,0,5750,7199689
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,237.950190,0,4658,5813837
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,219.458904,0,4228,4755455
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,147.486583,0,4753,7579188
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,68.251613,0,4009,3523080

In [ ]:
df = reorganizar(df, 'sum', 15)
display(df)

,number,condition,days,gender,age,edad_num,afftype,melanch,inpatient,edu,edu_num,marriage,work,madrs1,madrs2,sum,mean,min,max
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,5981554,153.664748,0,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,5925033,274.866998,0,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,3594618,167.245987,0,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,5805537,261.805502,0,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,3632316,178.773304,0,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,6243346,289.647228,0,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,3354049,151.444846,0,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,5735146,221.348746,0,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,3521753,161.756063,0,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,6379462,202.619088,0,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5086010,98.545078,0,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,12554059,398.883456,0,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,8388904,162.922975,0,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,8400335,290.488104,0,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,3114809,107.266651,0,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6072259,280.409097,0,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,3745298,168.275060,0,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,5055141,205.886898,0,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,5109508,176.769002,0,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,5945290,241.540993,0,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,4677802,169.430331,0,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7333541,229.956445,0,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5502208,172.288577,0,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5318234,245.215511,0,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,4116802,189.766848,0,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,4755455,219.458904,0,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
# Renombramos columnas para ser más entendibles además de traducir al inglés
column_name_mapping = {
    'number': 'indiv',
    'condition': 'condicion',
    'days': 'dias',
    'gender': 'genero',
    'age': 'edad',
    'afftype': 'tipo_diagnostico',
    'inpatient': 'hospitalizacion',
    'edu': 'educacion',
    'marriage': 'edo_civil',
    'sum': 'sum_act',
    'mean': 'prom_act',
    'min': 'min_act',
    'max': 'max_act'
}

df.rename(columns=column_name_mapping, inplace=True)
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,sum_act,prom_act,min_act,max_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,5981554,153.664748,0,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,5925033,274.866998,0,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,3594618,167.245987,0,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,5805537,261.805502,0,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,3632316,178.773304,0,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,6243346,289.647228,0,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,3354049,151.444846,0,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,5735146,221.348746,0,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,3521753,161.756063,0,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,6379462,202.619088,0,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5086010,98.545078,0,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,12554059,398.883456,0,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,8388904,162.922975,0,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,8400335,290.488104,0,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,3114809,107.266651,0,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6072259,280.409097,0,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,3745298,168.275060,0,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,5055141,205.886898,0,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,5109508,176.769002,0,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,5945290,241.540993,0,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,4677802,169.430331,0,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7333541,229.956445,0,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5502208,172.288577,0,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5318234,245.215511,0,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,4116802,189.766848,0,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,4755455,219.458904,0,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
# Checamos valores duplicados
df.duplicated().sum()

0

In [ ]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [ ]:
summary_data(df)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   indiv             55 non-null     object
 1   condicion         55 non-null     int64
 2   dias              55 non-null     int64
 3   genero            55 non-null     int64
 4   edad              55 non-null     object
 5   edad_num          55 non-null     int64
 6   tipo_diagnostico  55 non-null     Int64
 7   melanch           55 non-null     Int64
 8   hospitalizacion   55 non-null     Int64
 9   educacion         55 non-null     object
 10  edu_num           55 non-null     int64
 11  edo_civil         55 non-null     Int64
 12  work              55 non-null     Int64
 13  madrs1            55 non-null     float64
 14  madrs2            55 non-null     float64
 15  sum_act           55 non-null     int64
 16  prom_act          55 non-null     float64
 17  min_act           55 non-null     int64
 18  max_act           55 non-null     int64
dtypes: Int64(5), float64(3), int64(8), object(3)
memory usage: 8.6+ KB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (55, 19)

▻  Tipos de datos por columna:
indiv                object
condicion             int64
dias                  int64
genero                int64
edad                 object
edad_num              int64
tipo_diagnostico      Int64
melanch               Int64
hospitalizacion       Int64
educacion            object
edu_num               int64
edo_civil             Int64
work                  Int64
madrs1              float64
madrs2              float64
sum_act               int64
prom_act            float64
min_act               int64
max_act               int64
dtype: object

▻  Datos únicos por columna:
indiv               55
condicion            2
dias                11
genero               2
edad                10
edad_num            10
tipo_diagnostico     4
melanch              3
hospitalizacion      3
educacion            4
edu_num              4
edo_civil            3
work                 3
madrs1              13
madrs2              14
sum_act             55
prom_act            55
min_act              2
max_act             43
dtype: int64

▻  Columnas con datos faltantes:
indiv               False
condicion           False
dias                False
genero              False
edad                False
edad_num            False
tipo_diagnostico    False
melanch             False
hospitalizacion     False
educacion           False
edu_num             False
edo_civil           False
work                False
madrs1              False
madrs2              False
sum_act             False
prom_act            False
min_act             False
max_act             False
dtype: bool

▻  Filas con datos faltantes:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
dtype: bool

▻  Filas con datos NaN:
    indiv  condicion   dias  genero   edad  edad_num  tipo_diagnostico  \
0   False      False  False   False  False     False             False
1   False      False  False   False  False     False             False
2   False      False  False   False  False     False             False
3   False      False  False   False  False     False             False
4   False      False  False   False  False     False             False
5   False      False  False   False  False     False             False
6   False      False  False   False  False     False             False
7   False      False  False   False  False     False             False
8   False      False  False   False  False     False             False
9   False      False  False   False  False     False             False
10  False      False  False   False  False     False             False
11  False      False  False   False  False     False             False
12  False      False  False   False  False     False             False
13  False      False  False   False  False     False             False
14  False      False  False   False  False     False             False
15  False      False  False   False  False     False             False
16  False      False  False   False  False     False             False
17  False      False  False   False  False     False             False
18  False      False  False   False  False     False             False
19  False      False  False   False  False     False             False
20  False      False  False   False  False     False             False
21  False      False  False   False  False     False             False
22  False      False  False   False  False     False             False
23  False      False  False   False  False     False             False
24  False      False  False   False  False     False             False
25  False      False  False   False  False     False             False
26  False      False  False   False  False     False             False
27  False      False  False   False  False     False             False
28  False      False  False   False  False     False             False
29  False      False  False   False  False     False             False
30  False      False  False   False  False     False             False
31  False      False  False   False  False     False             False
32  False      False  False   False  False     False             False
33  False      False  False   False  False     False             False
34  False      False  False   False  False     False             False
35  False      False  False   False  False     False             False
36  False      False  False   False  False     False             False
37  False      False  False   False  False     False             False
38  False      False  False   False  False     False             False
39  False      False  False   False  False     False             False
40  False      False  False   False  False     False             False
41  False      False  False   False  False     False             False
42  False      False  False   False  False     False             False
43  False      False  False   False  False     False             False
44  False      False  False   False  False     False             False
45  False      False  False   False  False     False             False
46  False      False  False   False  False     False             False
47  False      False  False   False  False     False             False
48  False      False  False   False  False     False             False
49  False      False  False   False  False     False             False
50  False      False  False   False  False     False             False
51  False      False  False   False  False     False             False
52  False      False  False   False  False     False             False
53  False      False  False   False  False     False             False
54  False      False  False   False  False     False             False

    melanch  hospitalizacion  educacion  edu_num  edo_civil   work  madrs1  \
0     False            False      False    False      False  False   False
1     False            False      False    False      False  False   False
2     False            False      False    False      False  False   False
3     False            False      False    False      False  False   False
4     False            False      False    False      False  False   False
5     False            False      False    False      False  False   False
6     False            False      False    False      False  False   False
7     False            False      False    False      False  False   False
8     False            False      False    False      False  False   False
9     False            False      False    False      False  False   False
10    False            False      False    False      False  False   False
11    False            False      False    False      False  False   False
12    False            False      False    False      False  False   False
13    False            False      False    False      False  False   False
14    False            False      False    False      False  False   False
15    False            False      False    False      False  False   False
16    False            False      False    False      False  False   False
17    False            False      False    False      False  False   False
18    False            False      False    False      False  False   False
19    False            False      False    False      False  False   False
20    False            False      False    False      False  False   False
21    False            False      False    False      False  False   False
22    False            False      False    False      False  False   False
23    False            False      False    False      False  False   False
24    False            False      False    False      False  False   False
25    False            False      False    False      False  False   False
26    False            False      False    False      False  False   False
27    False            False      False    False      False  False   False
28    False            False      False    False      False  False   False
29    False            False      False    False      False  False   False
30    False            False      False    False      False  False   False
31    False            False      False    False      False  False   False
32    False            False      False    False      False  False   False
33    False            False      False    False      False  False   False
34    False            False      False    False      False  False   False
35    False            False      False    False      False  False   False
36    False            False      False    False      False  False   False
37    False            False      False    False      False  False   False
38    False            False      False    False      False  False   False
39    False            False      False    False      False  False   False
40    False            False      False    False      False  False   False
41    False            False      False    False      False  False   False
42    False            False      False    False      False  False   False
43    False            False      False    False      False  False   False
44    False            False      False    False      False  False   False
45    False            False      False    False      False  False   False
46    False            False      False    False      False  False   False
47    False            False      False    False      False  False   False
48    False            False      False    False      False  False   False
49    False            False      False    False      False  False   False
50    False            False      False    False      False  False   False
51    False            False      False    False      False  False   False
52    False            False      False    False      False  False   False
53    False            False      False    False      False  False   False
54    False            False      False    False      False  False   False

    madrs2  sum_act  prom_act  min_act  max_act
0    False    False     False    False    False
1    False    False     False    False    False
2    False    False     False    False    False
3    False    False     False    False    False
4    False    False     False    False    False
5    False    False     False    False    False
6    False    False     False    False    False
7    False    False     False    False    False
8    False    False     False    False    False
9    False    False     False    False    False
10   False    False     False    False    False
11   False    False     False    False    False
12   False    False     False    False    False
13   False    False     False    False    False
14   False    False     False    False    False
15   False    False     False    False    False
16   False    False     False    False    False
17   False    False     False    False    False
18   False    False     False    False    False
19   False    False     False    False    False
20   False    False     False    False    False
21   False    False     False    False    False
22   False    False     False    False    False
23   False    False     False    False    False
24   False    False     False    False    False
25   False    False     False    False    False
26   False    False     False    False    False
27   False    False     False    False    False
28   False    False     False    False    False
29   False    False     False    False    False
30   False    False     False    False    False
31   False    False     False    False    False
32   False    False     False    False    False
33   False    False     False    False    False
34   False    False     False    False    False
35   False    False     False    False    False
36   False    False     False    False    False
37   False    False     False    False    False
38   False    False     False    False    False
39   False    False     False    False    False
40   False    False     False    False    False
41   False    False     False    False    False
42   False    False     False    False    False
43   False    False     False    False    False
44   False    False     False    False    False
45   False    False     False    False    False
46   False    False     False    False    False
47   False    False     False    False    False
48   False    False     False    False    False
49   False    False     False    False    False
50   False    False     False    False    False
51   False    False     False    False    False
52   False    False     False    False    False
53   False    False     False    False    False
54   False    False     False    False    False

▻  Filas con datos NaN:
indiv               0
condicion           0
dias                0
genero              0
edad                0
edad_num            0
tipo_diagnostico    0
melanch             0
hospitalizacion     0
educacion           0
edu_num             0
edo_civil           0
work                0
madrs1              0
madrs2              0
sum_act             0
prom_act            0
min_act             0
max_act             0
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
indiv               condition_1
condicion                   0.0
dias                       13.0
genero                      1.0
edad                      45-49
edad_num                    6.0
tipo_diagnostico              0
melanch                       0
hospitalizacion               0
educacion                     0
edu_num                     0.0
edo_civil                     0
work                          0
madrs1                      0.0
madrs2                      0.0
sum_act                 1413779
prom_act              54.697992
min_act                     0.0
max_act                  8000.0
Name: 0, dtype: object

▻  Resumen estadístico:

              indiv  condicion       dias     genero   edad   edad_num  \
count            55  55.000000  55.000000  55.000000     55  55.000000
unique           55        NaN        NaN        NaN     10        NaN
top     condition_1        NaN        NaN        NaN  45-49        NaN
freq              1        NaN        NaN        NaN      9        NaN
mean            NaN   0.418182  12.600000   1.454545    NaN   4.672727
std             NaN   0.497807   2.491467   0.502519    NaN   2.449902
min             NaN   0.000000   5.000000   1.000000    NaN   1.000000
25%             NaN   0.000000  13.000000   1.000000    NaN   3.000000
50%             NaN   0.000000  13.000000   1.000000    NaN   5.000000
75%             NaN   1.000000  13.000000   2.000000    NaN   6.500000
max             NaN   1.000000  20.000000   2.000000    NaN  10.000000

        tipo_diagnostico   melanch  hospitalizacion  educacion    edu_num  \
count               55.0      55.0             55.0       55.0  55.000000
unique              <NA>      <NA>             <NA>        4.0        NaN
top                 <NA>      <NA>             <NA>        0.0        NaN
freq                <NA>      <NA>             <NA>       33.0        NaN
mean            0.727273  0.709091         0.745455        NaN   0.618182
std             0.932034  0.955931         0.927326        NaN   0.871162
min                  0.0       0.0              0.0        NaN   0.000000
25%                  0.0       0.0              0.0        NaN   0.000000
50%                  0.0       0.0              0.0        NaN   0.000000
75%                  2.0       2.0              2.0        NaN   1.000000
max                  3.0       2.0              2.0        NaN   3.000000

        edo_civil      work     madrs1     madrs2       sum_act    prom_act  \
count        55.0      55.0  55.000000  55.000000  5.500000e+01   55.000000
unique       <NA>      <NA>        NaN        NaN           NaN         NaN
top          <NA>      <NA>        NaN        NaN           NaN         NaN
freq         <NA>      <NA>        NaN        NaN           NaN         NaN
mean     0.636364  0.781818   9.509091   8.363636  5.131341e+06  189.862636
std      0.824703  0.956283  11.726628  10.403638  2.119601e+06   80.547674
min           0.0       0.0   0.000000   0.000000  1.413779e+06   54.697992
25%           0.0       0.0   0.000000   0.000000  3.546065e+06  142.301726
50%           0.0       0.0   0.000000   0.000000  5.109508e+06  172.288577
75%           1.0       2.0  22.000000  18.500000  6.276906e+06  243.378252
max           2.0       2.0  29.000000  28.000000  1.255406e+07  398.883456

          min_act      max_act
count   55.000000    55.000000
unique        NaN          NaN
top           NaN          NaN
freq          NaN          NaN
mean     0.054545  4834.345455
std      0.404520  1700.860776
min      0.000000  1355.000000
25%      0.000000  3574.000000
50%      0.000000  4609.000000
75%      0.000000  6024.000000
max      3.000000  8000.000000

# Calcular metricas y rangos de datos

In [ ]:
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,sum_act,prom_act,min_act,max_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,5981554,153.664748,0,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,5925033,274.866998,0,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,3594618,167.245987,0,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,5805537,261.805502,0,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,3632316,178.773304,0,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,6243346,289.647228,0,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,3354049,151.444846,0,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,5735146,221.348746,0,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,3521753,161.756063,0,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,6379462,202.619088,0,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5086010,98.545078,0,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,12554059,398.883456,0,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,8388904,162.922975,0,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,8400335,290.488104,0,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,3114809,107.266651,0,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,6072259,280.409097,0,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,3745298,168.275060,0,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,5055141,205.886898,0,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,5109508,176.769002,0,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,5945290,241.540993,0,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,4677802,169.430331,0,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7333541,229.956445,0,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5502208,172.288577,0,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,5318234,245.215511,0,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,4116802,189.766848,0,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,4755455,219.458904,0,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
# madrs (escala de severidad de depresión) se obtuvo en la etapa inicial y final de la investigación, por tanto se puede obtener el progreso que tuvo
df['res_madrs'] = df['madrs2'] - df['madrs1']
df.insert(15, 'res_madrs', df.pop('res_madrs'))
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,0.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,-13.0,5981554,153.664748,0,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,1.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,-4.0,5925033,274.866998,0,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,0.0,3594618,167.245987,0,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,-3.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,1.0,5805537,261.805502,0,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,-4.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,0.0,3632316,178.773304,0,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,-7.0,6243346,289.647228,0,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,0.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,-4.0,3354049,151.444846,0,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,-5.0,5735146,221.348746,0,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,-9.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,4.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,4.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,-2.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,-3.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,-5.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,-2.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,-5.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,-1.0,3521753,161.756063,0,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,-6.0,6379462,202.619088,0,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5086010,98.545078,0,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,12554059,398.883456,0,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,8388904,162.922975,0,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,8400335,290.488104,0,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,3114809,107.266651,0,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6072259,280.409097,0,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,3745298,168.275060,0,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,5055141,205.886898,0,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,5109508,176.769002,0,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,5945290,241.540993,0,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,4677802,169.430331,0,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7333541,229.956445,0,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5502208,172.288577,0,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5318234,245.215511,0,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,4116802,189.766848,0,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,4755455,219.458904,0,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
df.describe()

,condicion,dias,genero,edad_num,tipo_diagnostico,melanch,hospitalizacion,edu_num,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act
count,55.000000,55.000000,55.000000,55.000000,55.0,55.0,55.0,55.000000,55.0,55.0,55.000000,55.000000,55.000000,5.500000e+01,55.000000,55.000000,55.000000
mean,0.418182,12.600000,1.454545,4.672727,0.727273,0.709091,0.745455,0.618182,0.636364,0.781818,9.509091,8.363636,-1.145455,5.131341e+06,189.862636,0.054545,4834.345455
std,0.497807,2.491467,0.502519,2.449902,0.932034,0.955931,0.927326,0.871162,0.824703,0.956283,11.726628,10.403638,2.876586,2.119601e+06,80.547674,0.404520,1700.860776
min,0.000000,5.000000,1.000000,1.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,-13.000000,1.413779e+06,54.697992,0.000000,1355.000000
25%,0.000000,13.000000,1.000000,3.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,-1.500000,3.546065e+06,142.301726,0.000000,3574.000000
50%,0.000000,13.000000,1.000000,5.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,5.109508e+06,172.288577,0.000000,4609.000000
75%,1.000000,13.000000,2.000000,6.500000,2.0,2.0,2.0,1.000000,1.0,2.0,22.000000,18.500000,0.000000,6.276906e+06,243.378252,0.000000,6024.000000
max,1.000000,20.000000,2.000000,10.000000,3.0,2.0,2.0,3.000000,2.0,2.0,29.000000,28.000000,4.000000,1.255406e+07,398.883456,3.000000,8000.000000

*   ¿Cuál es la prevalencia de la depresión en los diferentes grupos de edad?
*   ¿Existen diferencias significativas en la tasa de depresión entre hombres y mujeres?
*   ¿Los tratamientos utilizados actualmente son eficaces o no para prevenirlo?
*   ¿Qué tan correlacionada esta la variable sueño con el grado de depresión que padece el paciente?
*   ¿Qué tan confiable podríamos considerar la actigrafía como un instrumento para poder diagnosticar de forma temprana los síntomas de la depresión?
---

In [ ]:
# calculamos el promedio de actividad de cada individuo
mean_act = df['prom_act'].mean()
print(f'Promedio de actividad entre personas con y sin depresión: {mean_act}')

Promedio de actividad entre personas con y sin depresión: 189.8626357874935

In [ ]:
# Filtrar número de personas con actividad menor al promedio
df[df['prom_act']< mean_act]

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,0.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,-13.0,5981554,153.664748,0,4228
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,0.0,3594618,167.245987,0,4609
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,-4.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,0.0,3632316,178.773304,0,2821
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,0.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,-4.0,3354049,151.444846,0,3622
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,-9.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,4.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,4.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,-2.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,-3.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,-5.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,-2.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,-5.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,-1.0,3521753,161.756063,0,3222
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5086010,98.545078,0,6117
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,8388904,162.922975,0,8000
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,3114809,107.266651,0,2674
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,3745298,168.275060,0,3180
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,5109508,176.769002,0,4658
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,4677802,169.430331,0,2918
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5502208,172.288577,0,3506
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,4116802,189.766848,0,3887
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
# Filtrar número de personas con actividad mayor+ al promedio
df[df['prom_act']> mean_act]

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,1.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,-4.0,5925033,274.866998,0,6776
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,-3.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,1.0,5805537,261.805502,0,4778
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,-7.0,6243346,289.647228,0,4935
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,-5.0,5735146,221.348746,0,4859
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,-6.0,6379462,202.619088,0,5931
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,12554059,398.883456,0,4927
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,8400335,290.488104,0,6321
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6072259,280.409097,0,4245
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,5055141,205.886898,0,8000
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,5945290,241.540993,0,4517
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7333541,229.956445,0,8000
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5318234,245.215511,0,6128
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,4755455,219.458904,0,4228

In [ ]:
# número de personas con actividad menor al promedio
print(f"Cantidad con actividad menor al promedio: {len(df[df['prom_act'] < mean_act])}")

# número de personas con actividad menor al promedio
print(f"Cantidad con actividad mayor al promedio: {len(df[df['prom_act'] > mean_act])}")

# cuantos tienen el diagnostico y cuantos no MENOR AL PROMEDIO
filtro1 = (df['prom_act'] < mean_act) & (df['condicion'] == 0)
cant_sin = df[filtro1].shape[0]
print(f"Menor al promedio sin depresión: {cant_sin}")

filtro2 = (df['prom_act'] < mean_act) & (df['condicion'] == 1)
cant_con = df[filtro2].shape[0]
print(f"Menor al promedio con depresión: {cant_con}")


# cuantos tienen el diagnostico y cuantos no MAYOR AL PROMEDIO
filtro3 = (df['prom_act'] > mean_act) & (df['condicion'] == 0)
cant_sin2 = df[filtro3].shape[0]
print(f"Mayor al promedio sin depresión: {cant_sin2}")

filtro4 = (df['prom_act'] > mean_act) & (df['condicion'] == 1)
cant_con2 = df[filtro4].shape[0]
print(f"Mayor al promedio con depresión: {cant_con2}")

Cantidad con actividad menor al promedio: 32
Cantidad con actividad mayor al promedio: 23
Menor al promedio sin depresión: 16
Menor al promedio con depresión: 16
Mayor al promedio sin depresión: 16
Mayor al promedio con depresión: 7

In [ ]:
# Calcular la media por edad_num para cada columna
mean_madrs1 = df.groupby('edad_num')['madrs1'].mean()
mean_madrs2 = df.groupby('edad_num')['madrs2'].mean()
mean_res = df.groupby('edad_num')['res_madrs'].mean()

# combinamos para tenerlo en uno solo
res = pd.concat([mean_madrs1, mean_madrs2, mean_res], axis=1)
# renombre
res.columns = ['prom_madrs1', 'prom_madrs2', 'prom_res']

display(res)

          prom_madrs1  prom_madrs2  prom_res
edad_num
1            4.000000     4.166667  0.166667
2            5.714286     4.571429 -1.142857
3            8.000000     6.857143 -1.142857
4           11.571429     9.714286 -1.857143
5           13.400000     9.400000 -4.000000
6           12.777778    12.555556 -0.222222
7            7.666667     6.888889 -0.777778
8           14.000000    18.000000  4.000000
9           14.000000     9.500000 -4.500000
10          14.500000    14.000000 -0.500000

In [ ]:
# users.groupby(['gender', 'age_range'])['occupation'].value_counts()
df.groupby(['genero', 'edad_num', 'hospitalizacion'])['res_madrs'].count()

genero  edad_num  hospitalizacion
1       1         0                  3
                  2                  1
        2         0                  3
        3         0                  3
                  1                  2
        4         0                  2
                  2                  1
        6         0                  3
                  2                  3
        7         0                  4
                  2                  1
        9         0                  1
                  2                  1
        10        0                  1
                  1                  1
2       1         0                  2
        2         0                  2
                  2                  2
        3         0                  2
        4         0                  1
                  1                  1
                  2                  2
        5         0                  2
                  2                  3
        6         0                  1
                  2                  2
        7         0                  2
                  1                  1
                  2                  1
        8         2                  1
Name: res_madrs, dtype: int64

In [ ]:
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,edu_num,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,1,1,2,19.0,19.0,0.0,3415660,146.948030,0,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,1,2,2,24.0,11.0,-13.0,5981554,153.664748,0,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,1,2,2,24.0,25.0,1.0,5743208,265.299704,3,3847
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,2,1,1,20.0,16.0,-4.0,5925033,274.866998,0,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,2,2,2,26.0,26.0,0.0,3594618,167.245987,0,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,1,1,2,18.0,15.0,-3.0,4209793,196.416414,0,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,2,2,1,24.0,25.0,1.0,5805537,261.805502,0,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,2,1,2,20.0,16.0,-4.0,3569050,184.934453,0,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,1,1,2,26.0,26.0,0.0,3632316,178.773304,0,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,1,1,2,28.0,21.0,-7.0,6243346,289.647228,0,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,1,1,2,24.0,24.0,0.0,2974516,129.383036,0,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,1,2,2,25.0,21.0,-4.0,3354049,151.444846,0,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,2,2,2,18.0,13.0,-5.0,5735146,221.348746,0,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,1,2,2,28.0,19.0,-9.0,1624530,75.049894,0,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,2,1,1,14.0,18.0,4.0,2391019,109.534060,0,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,2,1,2,13.0,17.0,4.0,6128175,146.442397,0,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,1,1,2,17.0,15.0,-2.0,1848268,85.842181,0,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,2,2,2,18.0,15.0,-3.0,1517859,71.104090,0,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,3,2,2,26.0,21.0,-5.0,3338367,157.240215,0,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,1,1,2,27.0,25.0,-2.0,1413779,54.697992,0,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,1,2,2,26.0,21.0,-5.0,1628308,79.480061,0,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,0,2,2,29.0,28.0,-1.0,3521753,161.756063,0,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,3,2,2,29.0,23.0,-6.0,6379462,202.619088,0,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5086010,98.545078,0,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,12554059,398.883456,0,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,5037072,77.011207,0,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,4345856,138.161055,0,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6310465,133.886343,0,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,7856830,152.296614,0,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,8388904,162.922975,0,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,8400335,290.488104,0,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,3114809,107.266651,0,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,0,0,0,0.0,0.0,0.0,6072259,280.409097,0,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,4037371,162.981229,0,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,0,0,0,0.0,0.0,0.0,3231816,93.305309,0,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,3745298,168.275060,0,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,7650897,343.721506,0,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,6193612,278.202039,0,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,0,0,0,0.0,0.0,0.0,5055141,205.886898,0,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,5109508,176.769002,0,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,5945290,241.540993,0,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,4677802,169.430331,0,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7333541,229.956445,0,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5502208,172.288577,0,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,5318234,245.215511,0,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,4116802,189.766848,0,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7680184,351.914589,0,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,0,0,0,0.0,0.0,0.0,6443591,295.333715,0,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,7734445,231.813128,0,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,6434827,314.047194,0,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,0,0,0,0.0,0.0,0.0,7199689,293.433689,0,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,0,0,0,0.0,0.0,0.0,5813837,237.950190,0,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,0,0,0,0.0,0.0,0.0,4755455,219.458904,0,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,0,0,0,0.0,0.0,0.0,7579188,147.486583,0,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,0,0,0,0.0,0.0,0.0,3523080,68.251613,0,4009

In [ ]:
summary_data(df)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   indiv             55 non-null     object
 1   condicion         55 non-null     int64
 2   dias              55 non-null     int64
 3   genero            55 non-null     int64
 4   edad              55 non-null     object
 5   edad_num          55 non-null     int64
 6   tipo_diagnostico  55 non-null     Int64
 7   melanch           55 non-null     Int64
 8   hospitalizacion   55 non-null     Int64
 9   educacion         55 non-null     object
 10  edu_num           55 non-null     int64
 11  edo_civil         55 non-null     Int64
 12  work              55 non-null     Int64
 13  madrs1            55 non-null     float64
 14  madrs2            55 non-null     float64
 15  res_madrs         55 non-null     float64
 16  sum_act           55 non-null     int64
 17  prom_act          55 non-null     float64
 18  min_act           55 non-null     int64
 19  max_act           55 non-null     int64
dtypes: Int64(5), float64(4), int64(8), object(3)
memory usage: 9.0+ KB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (55, 20)

▻  Tipos de datos por columna:
indiv                object
condicion             int64
dias                  int64
genero                int64
edad                 object
edad_num              int64
tipo_diagnostico      Int64
melanch               Int64
hospitalizacion       Int64
educacion            object
edu_num               int64
edo_civil             Int64
work                  Int64
madrs1              float64
madrs2              float64
res_madrs           float64
sum_act               int64
prom_act            float64
min_act               int64
max_act               int64
dtype: object

▻  Datos únicos por columna:
indiv               55
condicion            2
dias                11
genero               2
edad                10
edad_num            10
tipo_diagnostico     4
melanch              3
hospitalizacion      3
educacion            4
edu_num              4
edo_civil            3
work                 3
madrs1              13
madrs2              14
res_madrs           12
sum_act             55
prom_act            55
min_act              2
max_act             43
dtype: int64

▻  Columnas con datos faltantes:
indiv               False
condicion           False
dias                False
genero              False
edad                False
edad_num            False
tipo_diagnostico    False
melanch             False
hospitalizacion     False
educacion           False
edu_num             False
edo_civil           False
work                False
madrs1              False
madrs2              False
res_madrs           False
sum_act             False
prom_act            False
min_act             False
max_act             False
dtype: bool

▻  Filas con datos faltantes:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
dtype: bool

▻  Filas con datos NaN:
    indiv  condicion   dias  genero   edad  edad_num  tipo_diagnostico  \
0   False      False  False   False  False     False             False
1   False      False  False   False  False     False             False
2   False      False  False   False  False     False             False
3   False      False  False   False  False     False             False
4   False      False  False   False  False     False             False
5   False      False  False   False  False     False             False
6   False      False  False   False  False     False             False
7   False      False  False   False  False     False             False
8   False      False  False   False  False     False             False
9   False      False  False   False  False     False             False
10  False      False  False   False  False     False             False
11  False      False  False   False  False     False             False
12  False      False  False   False  False     False             False
13  False      False  False   False  False     False             False
14  False      False  False   False  False     False             False
15  False      False  False   False  False     False             False
16  False      False  False   False  False     False             False
17  False      False  False   False  False     False             False
18  False      False  False   False  False     False             False
19  False      False  False   False  False     False             False
20  False      False  False   False  False     False             False
21  False      False  False   False  False     False             False
22  False      False  False   False  False     False             False
23  False      False  False   False  False     False             False
24  False      False  False   False  False     False             False
25  False      False  False   False  False     False             False
26  False      False  False   False  False     False             False
27  False      False  False   False  False     False             False
28  False      False  False   False  False     False             False
29  False      False  False   False  False     False             False
30  False      False  False   False  False     False             False
31  False      False  False   False  False     False             False
32  False      False  False   False  False     False             False
33  False      False  False   False  False     False             False
34  False      False  False   False  False     False             False
35  False      False  False   False  False     False             False
36  False      False  False   False  False     False             False
37  False      False  False   False  False     False             False
38  False      False  False   False  False     False             False
39  False      False  False   False  False     False             False
40  False      False  False   False  False     False             False
41  False      False  False   False  False     False             False
42  False      False  False   False  False     False             False
43  False      False  False   False  False     False             False
44  False      False  False   False  False     False             False
45  False      False  False   False  False     False             False
46  False      False  False   False  False     False             False
47  False      False  False   False  False     False             False
48  False      False  False   False  False     False             False
49  False      False  False   False  False     False             False
50  False      False  False   False  False     False             False
51  False      False  False   False  False     False             False
52  False      False  False   False  False     False             False
53  False      False  False   False  False     False             False
54  False      False  False   False  False     False             False

    melanch  hospitalizacion  educacion  edu_num  edo_civil   work  madrs1  \
0     False            False      False    False      False  False   False
1     False            False      False    False      False  False   False
2     False            False      False    False      False  False   False
3     False            False      False    False      False  False   False
4     False            False      False    False      False  False   False
5     False            False      False    False      False  False   False
6     False            False      False    False      False  False   False
7     False            False      False    False      False  False   False
8     False            False      False    False      False  False   False
9     False            False      False    False      False  False   False
10    False            False      False    False      False  False   False
11    False            False      False    False      False  False   False
12    False            False      False    False      False  False   False
13    False            False      False    False      False  False   False
14    False            False      False    False      False  False   False
15    False            False      False    False      False  False   False
16    False            False      False    False      False  False   False
17    False            False      False    False      False  False   False
18    False            False      False    False      False  False   False
19    False            False      False    False      False  False   False
20    False            False      False    False      False  False   False
21    False            False      False    False      False  False   False
22    False            False      False    False      False  False   False
23    False            False      False    False      False  False   False
24    False            False      False    False      False  False   False
25    False            False      False    False      False  False   False
26    False            False      False    False      False  False   False
27    False            False      False    False      False  False   False
28    False            False      False    False      False  False   False
29    False            False      False    False      False  False   False
30    False            False      False    False      False  False   False
31    False            False      False    False      False  False   False
32    False            False      False    False      False  False   False
33    False            False      False    False      False  False   False
34    False            False      False    False      False  False   False
35    False            False      False    False      False  False   False
36    False            False      False    False      False  False   False
37    False            False      False    False      False  False   False
38    False            False      False    False      False  False   False
39    False            False      False    False      False  False   False
40    False            False      False    False      False  False   False
41    False            False      False    False      False  False   False
42    False            False      False    False      False  False   False
43    False            False      False    False      False  False   False
44    False            False      False    False      False  False   False
45    False            False      False    False      False  False   False
46    False            False      False    False      False  False   False
47    False            False      False    False      False  False   False
48    False            False      False    False      False  False   False
49    False            False      False    False      False  False   False
50    False            False      False    False      False  False   False
51    False            False      False    False      False  False   False
52    False            False      False    False      False  False   False
53    False            False      False    False      False  False   False
54    False            False      False    False      False  False   False

    madrs2  res_madrs  sum_act  prom_act  min_act  max_act
0    False      False    False     False    False    False
1    False      False    False     False    False    False
2    False      False    False     False    False    False
3    False      False    False     False    False    False
4    False      False    False     False    False    False
5    False      False    False     False    False    False
6    False      False    False     False    False    False
7    False      False    False     False    False    False
8    False      False    False     False    False    False
9    False      False    False     False    False    False
10   False      False    False     False    False    False
11   False      False    False     False    False    False
12   False      False    False     False    False    False
13   False      False    False     False    False    False
14   False      False    False     False    False    False
15   False      False    False     False    False    False
16   False      False    False     False    False    False
17   False      False    False     False    False    False
18   False      False    False     False    False    False
19   False      False    False     False    False    False
20   False      False    False     False    False    False
21   False      False    False     False    False    False
22   False      False    False     False    False    False
23   False      False    False     False    False    False
24   False      False    False     False    False    False
25   False      False    False     False    False    False
26   False      False    False     False    False    False
27   False      False    False     False    False    False
28   False      False    False     False    False    False
29   False      False    False     False    False    False
30   False      False    False     False    False    False
31   False      False    False     False    False    False
32   False      False    False     False    False    False
33   False      False    False     False    False    False
34   False      False    False     False    False    False
35   False      False    False     False    False    False
36   False      False    False     False    False    False
37   False      False    False     False    False    False
38   False      False    False     False    False    False
39   False      False    False     False    False    False
40   False      False    False     False    False    False
41   False      False    False     False    False    False
42   False      False    False     False    False    False
43   False      False    False     False    False    False
44   False      False    False     False    False    False
45   False      False    False     False    False    False
46   False      False    False     False    False    False
47   False      False    False     False    False    False
48   False      False    False     False    False    False
49   False      False    False     False    False    False
50   False      False    False     False    False    False
51   False      False    False     False    False    False
52   False      False    False     False    False    False
53   False      False    False     False    False    False
54   False      False    False     False    False    False

▻  Filas con datos NaN:
indiv               0
condicion           0
dias                0
genero              0
edad                0
edad_num            0
tipo_diagnostico    0
melanch             0
hospitalizacion     0
educacion           0
edu_num             0
edo_civil           0
work                0
madrs1              0
madrs2              0
res_madrs           0
sum_act             0
prom_act            0
min_act             0
max_act             0
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
indiv               condition_1
condicion                   0.0
dias                       13.0
genero                      1.0
edad                      45-49
edad_num                    6.0
tipo_diagnostico              0
melanch                       0
hospitalizacion               0
educacion                     0
edu_num                     0.0
edo_civil                     0
work                          0
madrs1                      0.0
madrs2                      0.0
res_madrs                   0.0
sum_act                 1413779
prom_act              54.697992
min_act                     0.0
max_act                  8000.0
Name: 0, dtype: object

▻  Resumen estadístico:

              indiv  condicion       dias     genero   edad   edad_num  \
count            55  55.000000  55.000000  55.000000     55  55.000000
unique           55        NaN        NaN        NaN     10        NaN
top     condition_1        NaN        NaN        NaN  45-49        NaN
freq              1        NaN        NaN        NaN      9        NaN
mean            NaN   0.418182  12.600000   1.454545    NaN   4.672727
std             NaN   0.497807   2.491467   0.502519    NaN   2.449902
min             NaN   0.000000   5.000000   1.000000    NaN   1.000000
25%             NaN   0.000000  13.000000   1.000000    NaN   3.000000
50%             NaN   0.000000  13.000000   1.000000    NaN   5.000000
75%             NaN   1.000000  13.000000   2.000000    NaN   6.500000
max             NaN   1.000000  20.000000   2.000000    NaN  10.000000

        tipo_diagnostico   melanch  hospitalizacion  educacion    edu_num  \
count               55.0      55.0             55.0       55.0  55.000000
unique              <NA>      <NA>             <NA>        4.0        NaN
top                 <NA>      <NA>             <NA>        0.0        NaN
freq                <NA>      <NA>             <NA>       33.0        NaN
mean            0.727273  0.709091         0.745455        NaN   0.618182
std             0.932034  0.955931         0.927326        NaN   0.871162
min                  0.0       0.0              0.0        NaN   0.000000
25%                  0.0       0.0              0.0        NaN   0.000000
50%                  0.0       0.0              0.0        NaN   0.000000
75%                  2.0       2.0              2.0        NaN   1.000000
max                  3.0       2.0              2.0        NaN   3.000000

        edo_civil      work     madrs1     madrs2  res_madrs       sum_act  \
count        55.0      55.0  55.000000  55.000000  55.000000  5.500000e+01
unique       <NA>      <NA>        NaN        NaN        NaN           NaN
top          <NA>      <NA>        NaN        NaN        NaN           NaN
freq         <NA>      <NA>        NaN        NaN        NaN           NaN
mean     0.636364  0.781818   9.509091   8.363636  -1.145455  5.131341e+06
std      0.824703  0.956283  11.726628  10.403638   2.876586  2.119601e+06
min           0.0       0.0   0.000000   0.000000 -13.000000  1.413779e+06
25%           0.0       0.0   0.000000   0.000000  -1.500000  3.546065e+06
50%           0.0       0.0   0.000000   0.000000   0.000000  5.109508e+06
75%           1.0       2.0  22.000000  18.500000   0.000000  6.276906e+06
max           2.0       2.0  29.000000  28.000000   4.000000  1.255406e+07

          prom_act    min_act      max_act
count    55.000000  55.000000    55.000000
unique         NaN        NaN          NaN
top            NaN        NaN          NaN
freq           NaN        NaN          NaN
mean    189.862636   0.054545  4834.345455
std      80.547674   0.404520  1700.860776
min      54.697992   0.000000  1355.000000
25%     142.301726   0.000000  3574.000000
50%     172.288577   0.000000  4609.000000
75%     243.378252   0.000000  6024.000000
max     398.883456   3.000000  8000.000000

In [ ]:
try:
  df['estres'] = df['sum_act'] / df['dias']
  df.insert(20, 'estres', df.pop('estres'))
  display(df)
except ZeroDivisionError as e:
  print(f"Error, no se puede dividir entre cero: {e}")
except Exception as e:
   print(f"Error procesando fila: {e}")

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,1,2,19.0,19.0,0.0,3415660,146.948030,0,3526,310514.545455
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,2,2,24.0,11.0,-13.0,5981554,153.664748,0,4228,332308.555556
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,2,2,24.0,25.0,1.0,5743208,265.299704,3,3847,441785.230769
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,1,1,20.0,16.0,-4.0,5925033,274.866998,0,6776,455771.769231
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,2,2,26.0,26.0,0.0,3594618,167.245987,0,4609,276509.076923
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,1,2,18.0,15.0,-3.0,4209793,196.416414,0,4129,601399.000000
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,2,1,24.0,25.0,1.0,5805537,261.805502,0,4778,527776.090909
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,1,2,20.0,16.0,-4.0,3569050,184.934453,0,5437,713810.000000
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,1,2,26.0,26.0,0.0,3632316,178.773304,0,2821,279408.923077
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,1,2,28.0,21.0,-7.0,6243346,289.647228,0,4935,693705.111111
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,1,2,24.0,24.0,0.0,2974516,129.383036,0,3506,212465.428571
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,2,2,25.0,21.0,-4.0,3354049,151.444846,0,3622,279504.083333
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,2,2,18.0,13.0,-5.0,5735146,221.348746,0,4859,409653.285714
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,2,2,28.0,19.0,-9.0,1624530,75.049894,0,2929,116037.857143
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,1,1,14.0,18.0,4.0,2391019,109.534060,0,6825,183924.538462
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,1,2,13.0,17.0,4.0,6128175,146.442397,0,6964,383010.937500
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,1,2,17.0,15.0,-2.0,1848268,85.842181,0,3195,142174.461538
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,2,2,18.0,15.0,-3.0,1517859,71.104090,0,1355,116758.384615
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,2,2,26.0,21.0,-5.0,3338367,157.240215,0,8000,256797.461538
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,1,2,27.0,25.0,-2.0,1413779,54.697992,0,2150,108752.230769
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,2,2,26.0,21.0,-5.0,1628308,79.480061,0,3869,125254.461538
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,2,2,29.0,28.0,-1.0,3521753,161.756063,0,3222,251553.785714
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,2,2,29.0,23.0,-6.0,6379462,202.619088,0,5931,398716.375000
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,5086010,98.545078,0,6117,635751.250000
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,12554059,398.883456,0,4927,627702.950000
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,5037072,77.011207,0,3974,419756.000000
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,4345856,138.161055,0,4354,334296.615385
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,6310465,133.886343,0,3314,485420.384615
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,7856830,152.296614,0,7431,604371.538462
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,8388904,162.922975,0,8000,645300.307692
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0,0,0.0,0.0,0.0,8400335,290.488104,0,6321,646179.615385
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,3114809,107.266651,0,2674,239600.692308
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,6072259,280.409097,0,4245,759032.375000
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,4037371,162.981229,0,6752,310567.000000
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0,0,0.0,0.0,0.0,3231816,93.305309,0,2682,230844.000000
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,3745298,168.275060,0,3180,288099.846154
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,7650897,343.721506,0,5931,588530.538462
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,6193612,278.202039,0,4935,563055.636364
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0,0,0.0,0.0,0.0,5055141,205.886898,0,8000,388857.000000
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,5109508,176.769002,0,4658,567723.111111
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,5945290,241.540993,0,4517,457330.000000
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,4677802,169.430331,0,2918,359830.923077
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,7333541,229.956445,0,8000,564118.538462
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,5502208,172.288577,0,3506,687776.000000
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,5318234,245.215511,0,6128,409094.923077
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,4116802,189.766848,0,3887,316677.076923
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,7680184,351.914589,0,8000,590783.384615
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0,0,0.0,0.0,0.0,6443591,295.333715,0,4658,495660.846154
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,7734445,231.813128,0,8000,594957.307692
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,6434827,314.047194,0,3869,494986.692308
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,7199689,293.433689,0,5750,449980.562500
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,5813837,237.950190,0,4658,447218.230769
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,4755455,219.458904,0,4228,528383.888889
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,7579188,147.486583,0,4753,583014.461538
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,3523080,68.251613,0,4009,251648.571429

In [ ]:
# redondeamos los valores flotantes
dict_redondo = {
    'prom_act': 2,
    'estres': 2
}

for col, decimal in dict_redondo.items():
  if col in df.columns:
     df[col] = df[col].round(decimal)

display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,edo_civil,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,1,2,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,2,2,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,2,2,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,1,1,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,2,2,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,1,2,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,2,1,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,1,2,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,1,2,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,1,2,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,1,2,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,2,2,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,2,2,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,2,2,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,1,1,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,1,2,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,1,2,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,2,2,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,2,2,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,1,2,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,2,2,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,2,2,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,2,2,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,5086010,98.55,0,6117,635751.25
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,12554059,398.88,0,4927,627702.95
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,5037072,77.01,0,3974,419756.00
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,4345856,138.16,0,4354,334296.62
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,6310465,133.89,0,3314,485420.38
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,7856830,152.30,0,7431,604371.54
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,8388904,162.92,0,8000,645300.31
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0,0,0.0,0.0,0.0,8400335,290.49,0,6321,646179.62
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,3114809,107.27,0,2674,239600.69
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0,0,0.0,0.0,0.0,6072259,280.41,0,4245,759032.38
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,4037371,162.98,0,6752,310567.00
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0,0,0.0,0.0,0.0,3231816,93.31,0,2682,230844.00
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,3745298,168.28,0,3180,288099.85
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,7650897,343.72,0,5931,588530.54
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,6193612,278.20,0,4935,563055.64
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0,0,0.0,0.0,0.0,5055141,205.89,0,8000,388857.00
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,5109508,176.77,0,4658,567723.11
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,5945290,241.54,0,4517,457330.00
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,4677802,169.43,0,2918,359830.92
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,7333541,229.96,0,8000,564118.54
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,5502208,172.29,0,3506,687776.00
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,5318234,245.22,0,6128,409094.92
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,4116802,189.77,0,3887,316677.08
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,7680184,351.91,0,8000,590783.38
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0,0,0.0,0.0,0.0,6443591,295.33,0,4658,495660.85
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,7734445,231.81,0,8000,594957.31
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,6434827,314.05,0,3869,494986.69
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0,0,0.0,0.0,0.0,7199689,293.43,0,5750,449980.56
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0,0,0.0,0.0,0.0,5813837,237.95,0,4658,447218.23
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0,0,0.0,0.0,0.0,4755455,219.46,0,4228,528383.89
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0,0,0.0,0.0,0.0,7579188,147.49,0,4753,583014.46
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0,0,0.0,0.0,0.0,3523080,68.25,0,4009,251648.57

In [ ]:
df.sort_values(by=['res_madrs', 'educacion'], ascending=[True, True])

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres,nvl_depresion,variabilidad_act
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56,Leve,4228
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86,Leve,2929
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11,Moderada,4935
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38,Moderada,5931
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29,Leve,4859
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46,Moderada,8000
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46,Moderada,3869
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77,Leve,6776
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00,Leve,5437
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08,Moderada,3622
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38,Leve,1355
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00,Leve,4129
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46,Leve,3195
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23,Moderada,2150
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79,Moderada,3222
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5086010,98.55,0,6117,635751.25,Sin sintomas,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,12554059,398.88,0,4927,627702.95,Sin sintomas,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,5037072,77.01,0,3974,419756.00,Sin sintomas,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,4345856,138.16,0,4354,334296.62,Sin sintomas,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6310465,133.89,0,3314,485420.38,Sin sintomas,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,7856830,152.30,0,7431,604371.54,Sin sintomas,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,8388904,162.92,0,8000,645300.31,Sin sintomas,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,8400335,290.49,0,6321,646179.62,Sin sintomas,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,3114809,107.27,0,2674,239600.69,Sin sintomas,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6072259,280.41,0,4245,759032.38,Sin sintomas,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,4037371,162.98,0,6752,310567.00,Sin sintomas,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0.0,0.0,0.0,3231816,93.31,0,2682,230844.00,Sin sintomas,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,3745298,168.28,0,3180,288099.85,Sin sintomas,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,7650897,343.72,0,5931,588530.54,Sin sintomas,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,6193612,278.20,0,4935,563055.64,Sin sintomas,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,5055141,205.89,0,8000,388857.00,Sin sintomas,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,5109508,176.77,0,4658,567723.11,Sin sintomas,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,5945290,241.54,0,4517,457330.00,Sin sintomas,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,4677802,169.43,0,2918,359830.92,Sin sintomas,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7333541,229.96,0,8000,564118.54,Sin sintomas,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5502208,172.29,0,3506,687776.00,Sin sintomas,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5318234,245.22,0,6128,409094.92,Sin sintomas,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,4116802,189.77,0,3887,316677.08,Sin sintomas,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7680184,351.91,0,8000,590783.38,Sin sintomas,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0.0,0.0,0.0,6443591,295.33,0,4658,495660.85,Sin sintomas,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7734445,231.81,0,8000,594957.31,Sin sintomas,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,6434827,314.05,0,3869,494986.69,Sin sintomas,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0.0,0.0,0.0,7199689,293.43,0,5750,449980.56,Sin sintomas,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5813837,237.95,0,4658,447218.23,Sin sintomas,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0.0,0.0,0.0,4755455,219.46,0,4228,528383.89,Sin sintomas,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7579188,147.49,0,4753,583014.46,Sin sintomas,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,3523080,68.25,0,4009,251648.57,Sin sintomas,4009
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08,Moderada,4609
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55,Leve,3526
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92,Moderada,2821
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43,Moderada,3506
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09,Moderada,4778
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23,Moderada,3844
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54,Leve,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94,Leve,6964

In [ ]:
# calculamos dos indicadores para verificar la eficacia a través de la investigación,
eficacia = df.groupby(['genero','hospitalizacion'])['res_madrs'].agg(
    pos = lambda x:(x>0).sum(),
    neg = lambda x:(x<0).sum(),
    ntr = lambda x:(x==0).sum()
)

display(eficacia)

                        pos  neg  ntr
genero hospitalizacion
1      0                  0    0   20
       1                  0    3    0
       2                  3    3    1
2      0                  0    0   12
       1                  0    2    0
       2                  1    7    3

In [ ]:
# Clasificando los grados de depresión (categórico) en base a investigación

def classify_madrs(madrs_final):
    if 0 <= madrs_final <= 6:
        return 'Sin sintomas'
    elif 7 <= madrs_final <= 19:
        return 'Leve'
    elif 20 <=  madrs_final <= 30:
        return 'Moderada'
    elif 31 <=  madrs_final <= 39:
      return 'Severa'
    else:
      return 'Extremo severo'

# Aplicar la función
df['nvl_depresion'] = df['madrs2'].map(classify_madrs)
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres,nvl_depresion
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,2,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55,Leve
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,2,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56,Leve
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,2,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23,Moderada
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,1,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77,Leve
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,2,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08,Moderada
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,2,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00,Leve
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,1,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09,Moderada
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,2,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00,Leve
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,2,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92,Moderada
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,2,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11,Moderada
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,2,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43,Moderada
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,2,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08,Moderada
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,2,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29,Leve
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,2,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86,Leve
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,1,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54,Leve
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,2,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94,Leve
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,2,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46,Leve
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,2,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38,Leve
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,2,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46,Moderada
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,2,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23,Moderada
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,2,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46,Moderada
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,2,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79,Moderada
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,2,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38,Moderada
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0,0.0,0.0,0.0,5086010,98.55,0,6117,635751.25,Sin sintomas
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0,0.0,0.0,0.0,12554059,398.88,0,4927,627702.95,Sin sintomas
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0,0.0,0.0,0.0,5037072,77.01,0,3974,419756.00,Sin sintomas
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0,0.0,0.0,0.0,4345856,138.16,0,4354,334296.62,Sin sintomas
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0,0.0,0.0,0.0,6310465,133.89,0,3314,485420.38,Sin sintomas
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0,0.0,0.0,0.0,7856830,152.30,0,7431,604371.54,Sin sintomas
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0,0.0,0.0,0.0,8388904,162.92,0,8000,645300.31,Sin sintomas
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0,0.0,0.0,0.0,8400335,290.49,0,6321,646179.62,Sin sintomas
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0,0.0,0.0,0.0,3114809,107.27,0,2674,239600.69,Sin sintomas
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0,0.0,0.0,0.0,6072259,280.41,0,4245,759032.38,Sin sintomas
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0,0.0,0.0,0.0,4037371,162.98,0,6752,310567.00,Sin sintomas
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0,0.0,0.0,0.0,3231816,93.31,0,2682,230844.00,Sin sintomas
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,3745298,168.28,0,3180,288099.85,Sin sintomas
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,7650897,343.72,0,5931,588530.54,Sin sintomas
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0,0.0,0.0,0.0,6193612,278.20,0,4935,563055.64,Sin sintomas
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0,0.0,0.0,0.0,5055141,205.89,0,8000,388857.00,Sin sintomas
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0,0.0,0.0,0.0,5109508,176.77,0,4658,567723.11,Sin sintomas
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0,0.0,0.0,0.0,5945290,241.54,0,4517,457330.00,Sin sintomas
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,4677802,169.43,0,2918,359830.92,Sin sintomas
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0,0.0,0.0,0.0,7333541,229.96,0,8000,564118.54,Sin sintomas
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,5502208,172.29,0,3506,687776.00,Sin sintomas
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0,0.0,0.0,0.0,5318234,245.22,0,6128,409094.92,Sin sintomas
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0,0.0,0.0,0.0,4116802,189.77,0,3887,316677.08,Sin sintomas
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0,0.0,0.0,0.0,7680184,351.91,0,8000,590783.38,Sin sintomas
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0,0.0,0.0,0.0,6443591,295.33,0,4658,495660.85,Sin sintomas
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0,0.0,0.0,0.0,7734445,231.81,0,8000,594957.31,Sin sintomas
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,6434827,314.05,0,3869,494986.69,Sin sintomas
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0,0.0,0.0,0.0,7199689,293.43,0,5750,449980.56,Sin sintomas
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0,0.0,0.0,0.0,5813837,237.95,0,4658,447218.23,Sin sintomas
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0,0.0,0.0,0.0,4755455,219.46,0,4228,528383.89,Sin sintomas
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0,0.0,0.0,0.0,7579188,147.49,0,4753,583014.46,Sin sintomas
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0,0.0,0.0,0.0,3523080,68.25,0,4009,251648.57,Sin sintomas

In [ ]:
# analizando los dos grupos separadamente

df_condicion = df[df['condicion'] == 1]

# df_control = df[df.number.str.contains('control')].copy()
display(df_condicion)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,work,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres,nvl_depresion
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,2,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55,Leve
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,2,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56,Leve
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,2,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23,Moderada
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,1,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77,Leve
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,2,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08,Moderada
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,2,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00,Leve
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,1,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09,Moderada
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,2,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00,Leve
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,2,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92,Moderada
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,2,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11,Moderada
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,2,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43,Moderada
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,2,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08,Moderada
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,2,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29,Leve
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,2,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86,Leve
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,1,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54,Leve
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,2,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94,Leve
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,2,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46,Leve
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,2,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38,Leve
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,2,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46,Moderada
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,2,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23,Moderada
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,2,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46,Moderada
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,2,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79,Moderada
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,2,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38,Moderada

In [ ]:
display(df)

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres,nvl_depresion,variabilidad_act
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55,Leve,3526
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56,Leve,4228
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23,Moderada,3844
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77,Leve,6776
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08,Moderada,4609
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00,Leve,4129
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09,Moderada,4778
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00,Leve,5437
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92,Moderada,2821
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11,Moderada,4935
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43,Moderada,3506
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08,Moderada,3622
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29,Leve,4859
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86,Leve,2929
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54,Leve,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94,Leve,6964
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46,Leve,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38,Leve,1355
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46,Moderada,8000
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23,Moderada,2150
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46,Moderada,3869
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79,Moderada,3222
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38,Moderada,5931
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5086010,98.55,0,6117,635751.25,Sin sintomas,6117
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,12554059,398.88,0,4927,627702.95,Sin sintomas,4927
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,5037072,77.01,0,3974,419756.00,Sin sintomas,3974
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,4345856,138.16,0,4354,334296.62,Sin sintomas,4354
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6310465,133.89,0,3314,485420.38,Sin sintomas,3314
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,7856830,152.30,0,7431,604371.54,Sin sintomas,7431
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,8388904,162.92,0,8000,645300.31,Sin sintomas,8000
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,8400335,290.49,0,6321,646179.62,Sin sintomas,6321
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,3114809,107.27,0,2674,239600.69,Sin sintomas,2674
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6072259,280.41,0,4245,759032.38,Sin sintomas,4245
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,4037371,162.98,0,6752,310567.00,Sin sintomas,6752
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0.0,0.0,0.0,3231816,93.31,0,2682,230844.00,Sin sintomas,2682
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,3745298,168.28,0,3180,288099.85,Sin sintomas,3180
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,7650897,343.72,0,5931,588530.54,Sin sintomas,5931
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,6193612,278.20,0,4935,563055.64,Sin sintomas,4935
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,5055141,205.89,0,8000,388857.00,Sin sintomas,8000
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,5109508,176.77,0,4658,567723.11,Sin sintomas,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,5945290,241.54,0,4517,457330.00,Sin sintomas,4517
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,4677802,169.43,0,2918,359830.92,Sin sintomas,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7333541,229.96,0,8000,564118.54,Sin sintomas,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5502208,172.29,0,3506,687776.00,Sin sintomas,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5318234,245.22,0,6128,409094.92,Sin sintomas,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,4116802,189.77,0,3887,316677.08,Sin sintomas,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7680184,351.91,0,8000,590783.38,Sin sintomas,8000
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0.0,0.0,0.0,6443591,295.33,0,4658,495660.85,Sin sintomas,4658
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7734445,231.81,0,8000,594957.31,Sin sintomas,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,6434827,314.05,0,3869,494986.69,Sin sintomas,3869
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0.0,0.0,0.0,7199689,293.43,0,5750,449980.56,Sin sintomas,5750
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5813837,237.95,0,4658,447218.23,Sin sintomas,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0.0,0.0,0.0,4755455,219.46,0,4228,528383.89,Sin sintomas,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7579188,147.49,0,4753,583014.46,Sin sintomas,4753
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,3523080,68.25,0,4009,251648.57,Sin sintomas,4009

In [ ]:
nvl_1 = df_condicion.groupby(['genero', 'edad_num', 'nvl_depresion']).size()

display(nvl_1)

# Encontrar el nivel de depresión con más personas
nivel_max = df_condicion['nvl_depresion'].value_counts().idxmax()
cantidad_max = df_condicion['nvl_depresion'].value_counts().max()

print(f"El nivel de depresión con más personas en pacientes con condición 1 es: {nivel_max} con {cantidad_max} personas.")

genero  edad_num  nvl_depresion
1       1         Moderada         1
        3         Moderada         2
        4         Leve             1
        6         Leve             1
                  Moderada         2
        7         Leve             1
        9         Leve             1
        10        Moderada         1
2       2         Leve             2
        4         Leve             2
                  Moderada         1
        5         Leve             2
                  Moderada         1
        6         Moderada         2
        7         Moderada         2
        8         Leve             1
dtype: int64

El nivel de depresión con más personas en pacientes con condición 1 es: Moderada con 12 personas.

In [ ]:
nvl_genero = df_condicion.groupby(['genero', 'nvl_depresion']).size()

print(f"Mujeres con depresión: \n{nvl_genero.loc[1]}")            # hace conteo de Mujeres
print(f"Hombres con depresión: \n{nvl_genero.loc[2] }")           # hace conteo de Hombres

porcentaje_hombres = (nvl_genero.loc[2].sum() / (nvl_genero.loc[1].sum() + nvl_genero.loc[2].sum())) *100
print(f"El porcentaje de personas hombres en depresión: {porcentaje_hombres:.2f}%.")

Mujeres con depresión:
nvl_depresion
Leve        4
Moderada    6
dtype: int64
Hombres con depresión:
nvl_depresion
Leve        7
Moderada    6
dtype: int64
El porcentaje de personas hombres en depresión: 56.52%.

In [ ]:
# Agrupamos para saber si hay relación entre trabajar/estudiar y el nivel de depresión
res_T = df_condicion.groupby(['work', 'nvl_depresion']).size()
display(res_T)

work  nvl_depresion
1     Leve              2
      Moderada          1
2     Leve              9
      Moderada         11
dtype: int64

In [ ]:
df_WvsLvl = df[(df['condicion'] == 1) & (df['nvl_depresion'] == 'Moderada')]
# Contar cuántas personas tienen un valor de 2 dentro del grupo con depresión moderada
conteo_work = df_WvsLvl[df_WvsLvl['work'] == 2].shape[0]

# Contar el total de personas con depresión moderada
total_moderada = df_WvsLvl.shape[0]
# Calcular el porcentaje
porcentaje_work = (conteo_work/total_moderada) *100

print(f"El porcentaje de personas sin empleo/pensionadas/incapacidad es: {porcentaje_work:.2f}%.")

El porcentaje de personas sin empleo/pensionadas/incapacidad es: 91.67%.

In [ ]:
nvl = df.groupby(['genero', 'edad_num', 'nvl_depresion']).size()

display(nvl)

tcantidad_max = df['nvl_depresion'].value_counts().max()

print(f"El nivel de depresión con más personas es: {nivel_max} con {cantidad_max}")

genero  edad_num  nvl_depresion
1       1         Moderada         1
                  Sin sintomas     3
        2         Sin sintomas     3
        3         Moderada         2
                  Sin sintomas     3
        4         Leve             1
                  Sin sintomas     2
        6         Leve             1
                  Moderada         2
                  Sin sintomas     3
        7         Leve             1
                  Sin sintomas     4
        9         Leve             1
                  Sin sintomas     1
        10        Moderada         1
                  Sin sintomas     1
2       1         Sin sintomas     2
        2         Leve             2
                  Sin sintomas     2
        3         Sin sintomas     2
        4         Leve             2
                  Moderada         1
                  Sin sintomas     1
        5         Leve             2
                  Moderada         1
                  Sin sintomas     2
        6         Moderada         2
                  Sin sintomas     1
        7         Moderada         2
                  Sin sintomas     2
        8         Leve             1
dtype: int64

El nivel de depresión con más personas es: Moderada con 12

In [ ]:
df.sort_values(by=['madrs2'], ascending=[False])

,indiv,condicion,dias,genero,edad,edad_num,tipo_diagnostico,melanch,hospitalizacion,educacion,...,madrs1,madrs2,res_madrs,sum_act,prom_act,min_act,max_act,estres,nvl_depresion,variabilidad_act
21,condition_22,1,14,1,65-69,10,2,2,1,0,...,29.0,28.0,-1.0,3521753,161.76,0,3222,251553.79,Moderada,3222
4,condition_5,1,13,2,50-54,7,2,2,2,11-15,...,26.0,26.0,0.0,3594618,167.25,0,4609,276509.08,Moderada,4609
8,condition_9,1,13,2,45-49,6,1,0,2,6-10,...,26.0,26.0,0.0,3632316,178.77,0,2821,279408.92,Moderada,2821
19,condition_20,1,13,1,30-34,3,2,1,1,6-10,...,27.0,25.0,-2.0,1413779,54.70,0,2150,108752.23,Moderada,2150
2,condition_3,1,13,1,45-49,6,2,2,2,6-10,...,24.0,25.0,1.0,5743208,265.30,3,3847,441785.23,Moderada,3844
6,condition_7,1,11,1,20-24,1,1,0,2,11-15,...,24.0,25.0,1.0,5805537,261.81,0,4778,527776.09,Moderada,4778
10,condition_11,1,14,1,45-49,6,2,2,2,6-10,...,24.0,24.0,0.0,2974516,129.38,0,3506,212465.43,Moderada,3506
22,condition_23,1,16,1,30-34,3,2,2,1,16-20,...,29.0,23.0,-6.0,6379462,202.62,0,5931,398716.38,Moderada,5931
20,condition_21,1,13,2,35-39,4,2,2,1,6-10,...,26.0,21.0,-5.0,1628308,79.48,0,3869,125254.46,Moderada,3869
9,condition_10,1,9,2,45-49,6,2,2,2,6-10,...,28.0,21.0,-7.0,6243346,289.65,0,4935,693705.11,Moderada,4935
11,condition_12,1,12,2,40-44,5,1,2,2,6-10,...,25.0,21.0,-4.0,3354049,151.44,0,3622,279504.08,Moderada,3622
18,condition_19,1,13,2,50-54,7,2,2,1,16-20,...,26.0,21.0,-5.0,3338367,157.24,0,8000,256797.46,Moderada,8000
13,condition_14,1,14,1,60-64,9,1,2,2,6-10,...,28.0,19.0,-9.0,1624530,75.05,0,2929,116037.86,Leve,2929
0,condition_1,1,11,2,35-39,4,2,2,2,6-10,...,19.0,19.0,0.0,3415660,146.95,0,3526,310514.55,Leve,3526
14,condition_15,1,13,2,55-59,8,2,2,2,11-15,...,14.0,18.0,4.0,2391019,109.53,0,6825,183924.54,Leve,6825
15,condition_16,1,16,1,45-49,6,2,2,2,11-15,...,13.0,17.0,4.0,6128175,146.44,0,6964,383010.94,Leve,6964
7,condition_8,1,5,2,25-29,2,2,0,2,11-15,...,20.0,16.0,-4.0,3569050,184.93,0,5437,713810.00,Leve,5437
3,condition_4,1,13,2,25-29,2,2,2,2,11-15,...,20.0,16.0,-4.0,5925033,274.87,0,6776,455771.77,Leve,6776
16,condition_17,1,13,1,50-54,7,1,2,2,6-10,...,17.0,15.0,-2.0,1848268,85.84,0,3195,142174.46,Leve,3195
17,condition_18,1,13,2,40-44,5,3,2,2,11-15,...,18.0,15.0,-3.0,1517859,71.10,0,1355,116758.38,Leve,1355
5,condition_6,1,7,1,35-39,4,2,2,2,6-10,...,18.0,15.0,-3.0,4209793,196.42,0,4129,601399.00,Leve,4129
12,condition_13,1,14,2,35-39,4,1,2,2,11-15,...,18.0,13.0,-5.0,5735146,221.35,0,4859,409653.29,Leve,4859
1,condition_2,1,18,2,40-44,5,1,2,2,6-10,...,24.0,11.0,-13.0,5981554,153.66,0,4228,332308.56,Leve,4228
47,control_25,0,13,1,65-69,10,0,0,0,0,...,0.0,0.0,0.0,6443591,295.33,0,4658,495660.85,Sin sintomas,4658
41,control_19,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,4677802,169.43,0,2918,359830.92,Sin sintomas,2918
42,control_20,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7333541,229.96,0,8000,564118.54,Sin sintomas,8000
43,control_21,0,8,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5502208,172.29,0,3506,687776.00,Sin sintomas,3506
44,control_22,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5318234,245.22,0,6128,409094.92,Sin sintomas,6128
45,control_23,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,4116802,189.77,0,3887,316677.08,Sin sintomas,3887
46,control_24,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7680184,351.91,0,8000,590783.38,Sin sintomas,8000
50,control_28,0,16,2,45-49,6,0,0,0,0,...,0.0,0.0,0.0,7199689,293.43,0,5750,449980.56,Sin sintomas,5750
48,control_26,0,13,1,35-39,4,0,0,0,0,...,0.0,0.0,0.0,7734445,231.81,0,8000,594957.31,Sin sintomas,8000
49,control_27,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,6434827,314.05,0,3869,494986.69,Sin sintomas,3869
51,control_29,0,13,2,50-54,7,0,0,0,0,...,0.0,0.0,0.0,5813837,237.95,0,4658,447218.23,Sin sintomas,4658
52,control_30,0,9,2,35-39,4,0,0,0,0,...,0.0,0.0,0.0,4755455,219.46,0,4228,528383.89,Sin sintomas,4228
53,control_31,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,7579188,147.49,0,4753,583014.46,Sin sintomas,4753
39,control_17,0,9,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,5109508,176.77,0,4658,567723.11,Sin sintomas,4658
40,control_18,0,13,2,20-24,1,0,0,0,0,...,0.0,0.0,0.0,5945290,241.54,0,4517,457330.00,Sin sintomas,4517
27,control_5,0,13,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6310465,133.89,0,3314,485420.38,Sin sintomas,3314
38,control_16,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,5055141,205.89,0,8000,388857.00,Sin sintomas,8000
37,control_15,0,11,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,6193612,278.20,0,4935,563055.64,Sin sintomas,4935
36,control_14,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,7650897,343.72,0,5931,588530.54,Sin sintomas,5931
35,control_13,0,13,1,50-54,7,0,0,0,0,...,0.0,0.0,0.0,3745298,168.28,0,3180,288099.85,Sin sintomas,3180
34,control_12,0,14,1,60-64,9,0,0,0,0,...,0.0,0.0,0.0,3231816,93.31,0,2682,230844.00,Sin sintomas,2682
33,control_11,0,13,1,45-49,6,0,0,0,0,...,0.0,0.0,0.0,4037371,162.98,0,6752,310567.00,Sin sintomas,6752
32,control_10,0,8,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,6072259,280.41,0,4245,759032.38,Sin sintomas,4245
31,control_9,0,13,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,3114809,107.27,0,2674,239600.69,Sin sintomas,2674
30,control_8,0,13,2,40-44,5,0,0,0,0,...,0.0,0.0,0.0,8400335,290.49,0,6321,646179.62,Sin sintomas,6321
29,control_7,0,13,1,20-24,1,0,0,0,0,...,0.0,0.0,0.0,8388904,162.92,0,8000,645300.31,Sin sintomas,8000
28,control_6,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,7856830,152.30,0,7431,604371.54,Sin sintomas,7431
26,control_4,0,13,1,25-29,2,0,0,0,0,...,0.0,0.0,0.0,4345856,138.16,0,4354,334296.62,Sin sintomas,4354
25,control_3,0,12,2,30-34,3,0,0,0,0,...,0.0,0.0,0.0,5037072,77.01,0,3974,419756.00,Sin sintomas,3974
24,control_2,0,20,1,30-34,3,0,0,0,0,...,0.0,0.0,0.0,12554059,398.88,0,4927,627702.95,Sin sintomas,4927
23,control_1,0,8,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,5086010,98.55,0,6117,635751.25,Sin sintomas,6117
54,control_32,0,14,2,25-29,2,0,0,0,0,...,0.0,0.0,0.0,3523080,68.25,0,4009,251648.57,Sin sintomas,4009

In [ ]:
# Para nivel leve
nvl_leve = df[df['nvl_depresion'] == 'Leve']
edad_leve = nvl_leve['edad_num'].value_counts().idxmax()
cantidad_leve = nvl_leve['edad_num'].value_counts().max()

print(f"La edad en la que más personas sufren de depresión leve es: {edad_leve} con {cantidad_leve} personas.")

# Para nivel moderada
nivel_moderada = df[df['nvl_depresion'] == 'Moderada']
edad_moderada = nivel_moderada['edad_num'].value_counts().idxmax()
cantidad_moderada = nivel_moderada['edad_num'].value_counts().max()

print(f"La edad en la que más personas sufren de depresión moderada es: {edad_moderada} con {cantidad_moderada} personas.")

La edad en la que más personas sufren de depresión leve es: 4 con 3 personas.
La edad en la que más personas sufren de depresión moderada es: 6 con 4 personas.

In [ ]:
# relacionamos la variabilidad de la actividad con los extremos con el nivel de depresión
df['variabilidad_act'] = df['max_act'] - df['min_act']
corr_var_depresion = df[['variabilidad_act', 'madrs2']].corr()
display(corr_var_depresion)

                  variabilidad_act    madrs2
variabilidad_act          1.000000 -0.232769
madrs2                   -0.232769  1.000000

In [ ]:
# relacionamos la actividad por día con el nivel de depresión

correlacion_estres = df[['estres', 'madrs2']].corr()
display(correlacion_estres)

          estres    madrs2
estres  1.000000 -0.449008
madrs2 -0.449008  1.000000

In [ ]:
summary_data(df)

- - - - - - - - -  Información comprimida - - - - - - - - -
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   indiv             55 non-null     object
 1   condicion         55 non-null     int64
 2   dias              55 non-null     int64
 3   genero            55 non-null     int64
 4   edad              55 non-null     object
 5   edad_num          55 non-null     int64
 6   tipo_diagnostico  55 non-null     Int64
 7   melanch           55 non-null     Int64
 8   hospitalizacion   55 non-null     Int64
 9   educacion         55 non-null     object
 10  edu_num           55 non-null     int64
 11  edo_civil         55 non-null     Int64
 12  work              55 non-null     Int64
 13  madrs1            55 non-null     float64
 14  madrs2            55 non-null     float64
 15  res_madrs         55 non-null     float64
 16  sum_act           55 non-null     int64
 17  prom_act          55 non-null     float64
 18  min_act           55 non-null     int64
 19  max_act           55 non-null     int64
 20  estres            55 non-null     float64
 21  nvl_depresion     55 non-null     object
 22  variabilidad_act  55 non-null     int64
dtypes: Int64(5), float64(5), int64(9), object(4)
memory usage: 10.3+ KB
None
- - - - - - - - -  Desglose de los datos - - - - - - - - -
▻  Tamaño: (55, 23)

▻  Tipos de datos por columna:
indiv                object
condicion             int64
dias                  int64
genero                int64
edad                 object
edad_num              int64
tipo_diagnostico      Int64
melanch               Int64
hospitalizacion       Int64
educacion            object
edu_num               int64
edo_civil             Int64
work                  Int64
madrs1              float64
madrs2              float64
res_madrs           float64
sum_act               int64
prom_act            float64
min_act               int64
max_act               int64
estres              float64
nvl_depresion        object
variabilidad_act      int64
dtype: object

▻  Datos únicos por columna:
indiv               55
condicion            2
dias                11
genero               2
edad                10
edad_num            10
tipo_diagnostico     4
melanch              3
hospitalizacion      3
educacion            4
edu_num              4
edo_civil            3
work                 3
madrs1              13
madrs2              14
res_madrs           12
sum_act             55
prom_act            55
min_act              2
max_act             43
estres              55
nvl_depresion        3
variabilidad_act    43
dtype: int64

▻  Columnas con datos faltantes:
indiv               False
condicion           False
dias                False
genero              False
edad                False
edad_num            False
tipo_diagnostico    False
melanch             False
hospitalizacion     False
educacion           False
edu_num             False
edo_civil           False
work                False
madrs1              False
madrs2              False
res_madrs           False
sum_act             False
prom_act            False
min_act             False
max_act             False
estres              False
nvl_depresion       False
variabilidad_act    False
dtype: bool

▻  Filas con datos faltantes:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
dtype: bool

▻  Filas con datos NaN:
    indiv  condicion   dias  genero   edad  edad_num  tipo_diagnostico  \
0   False      False  False   False  False     False             False
1   False      False  False   False  False     False             False
2   False      False  False   False  False     False             False
3   False      False  False   False  False     False             False
4   False      False  False   False  False     False             False
5   False      False  False   False  False     False             False
6   False      False  False   False  False     False             False
7   False      False  False   False  False     False             False
8   False      False  False   False  False     False             False
9   False      False  False   False  False     False             False
10  False      False  False   False  False     False             False
11  False      False  False   False  False     False             False
12  False      False  False   False  False     False             False
13  False      False  False   False  False     False             False
14  False      False  False   False  False     False             False
15  False      False  False   False  False     False             False
16  False      False  False   False  False     False             False
17  False      False  False   False  False     False             False
18  False      False  False   False  False     False             False
19  False      False  False   False  False     False             False
20  False      False  False   False  False     False             False
21  False      False  False   False  False     False             False
22  False      False  False   False  False     False             False
23  False      False  False   False  False     False             False
24  False      False  False   False  False     False             False
25  False      False  False   False  False     False             False
26  False      False  False   False  False     False             False
27  False      False  False   False  False     False             False
28  False      False  False   False  False     False             False
29  False      False  False   False  False     False             False
30  False      False  False   False  False     False             False
31  False      False  False   False  False     False             False
32  False      False  False   False  False     False             False
33  False      False  False   False  False     False             False
34  False      False  False   False  False     False             False
35  False      False  False   False  False     False             False
36  False      False  False   False  False     False             False
37  False      False  False   False  False     False             False
38  False      False  False   False  False     False             False
39  False      False  False   False  False     False             False
40  False      False  False   False  False     False             False
41  False      False  False   False  False     False             False
42  False      False  False   False  False     False             False
43  False      False  False   False  False     False             False
44  False      False  False   False  False     False             False
45  False      False  False   False  False     False             False
46  False      False  False   False  False     False             False
47  False      False  False   False  False     False             False
48  False      False  False   False  False     False             False
49  False      False  False   False  False     False             False
50  False      False  False   False  False     False             False
51  False      False  False   False  False     False             False
52  False      False  False   False  False     False             False
53  False      False  False   False  False     False             False
54  False      False  False   False  False     False             False

    melanch  hospitalizacion  educacion  ...  madrs1  madrs2  res_madrs  \
0     False            False      False  ...   False   False      False
1     False            False      False  ...   False   False      False
2     False            False      False  ...   False   False      False
3     False            False      False  ...   False   False      False
4     False            False      False  ...   False   False      False
5     False            False      False  ...   False   False      False
6     False            False      False  ...   False   False      False
7     False            False      False  ...   False   False      False
8     False            False      False  ...   False   False      False
9     False            False      False  ...   False   False      False
10    False            False      False  ...   False   False      False
11    False            False      False  ...   False   False      False
12    False            False      False  ...   False   False      False
13    False            False      False  ...   False   False      False
14    False            False      False  ...   False   False      False
15    False            False      False  ...   False   False      False
16    False            False      False  ...   False   False      False
17    False            False      False  ...   False   False      False
18    False            False      False  ...   False   False      False
19    False            False      False  ...   False   False      False
20    False            False      False  ...   False   False      False
21    False            False      False  ...   False   False      False
22    False            False      False  ...   False   False      False
23    False            False      False  ...   False   False      False
24    False            False      False  ...   False   False      False
25    False            False      False  ...   False   False      False
26    False            False      False  ...   False   False      False
27    False            False      False  ...   False   False      False
28    False            False      False  ...   False   False      False
29    False            False      False  ...   False   False      False
30    False            False      False  ...   False   False      False
31    False            False      False  ...   False   False      False
32    False            False      False  ...   False   False      False
33    False            False      False  ...   False   False      False
34    False            False      False  ...   False   False      False
35    False            False      False  ...   False   False      False
36    False            False      False  ...   False   False      False
37    False            False      False  ...   False   False      False
38    False            False      False  ...   False   False      False
39    False            False      False  ...   False   False      False
40    False            False      False  ...   False   False      False
41    False            False      False  ...   False   False      False
42    False            False      False  ...   False   False      False
43    False            False      False  ...   False   False      False
44    False            False      False  ...   False   False      False
45    False            False      False  ...   False   False      False
46    False            False      False  ...   False   False      False
47    False            False      False  ...   False   False      False
48    False            False      False  ...   False   False      False
49    False            False      False  ...   False   False      False
50    False            False      False  ...   False   False      False
51    False            False      False  ...   False   False      False
52    False            False      False  ...   False   False      False
53    False            False      False  ...   False   False      False
54    False            False      False  ...   False   False      False

    sum_act  prom_act  min_act  max_act  estres  nvl_depresion  \
0     False     False    False    False   False          False
1     False     False    False    False   False          False
2     False     False    False    False   False          False
3     False     False    False    False   False          False
4     False     False    False    False   False          False
5     False     False    False    False   False          False
6     False     False    False    False   False          False
7     False     False    False    False   False          False
8     False     False    False    False   False          False
9     False     False    False    False   False          False
10    False     False    False    False   False          False
11    False     False    False    False   False          False
12    False     False    False    False   False          False
13    False     False    False    False   False          False
14    False     False    False    False   False          False
15    False     False    False    False   False          False
16    False     False    False    False   False          False
17    False     False    False    False   False          False
18    False     False    False    False   False          False
19    False     False    False    False   False          False
20    False     False    False    False   False          False
21    False     False    False    False   False          False
22    False     False    False    False   False          False
23    False     False    False    False   False          False
24    False     False    False    False   False          False
25    False     False    False    False   False          False
26    False     False    False    False   False          False
27    False     False    False    False   False          False
28    False     False    False    False   False          False
29    False     False    False    False   False          False
30    False     False    False    False   False          False
31    False     False    False    False   False          False
32    False     False    False    False   False          False
33    False     False    False    False   False          False
34    False     False    False    False   False          False
35    False     False    False    False   False          False
36    False     False    False    False   False          False
37    False     False    False    False   False          False
38    False     False    False    False   False          False
39    False     False    False    False   False          False
40    False     False    False    False   False          False
41    False     False    False    False   False          False
42    False     False    False    False   False          False
43    False     False    False    False   False          False
44    False     False    False    False   False          False
45    False     False    False    False   False          False
46    False     False    False    False   False          False
47    False     False    False    False   False          False
48    False     False    False    False   False          False
49    False     False    False    False   False          False
50    False     False    False    False   False          False
51    False     False    False    False   False          False
52    False     False    False    False   False          False
53    False     False    False    False   False          False
54    False     False    False    False   False          False

    variabilidad_act
0              False
1              False
2              False
3              False
4              False
5              False
6              False
7              False
8              False
9              False
10             False
11             False
12             False
13             False
14             False
15             False
16             False
17             False
18             False
19             False
20             False
21             False
22             False
23             False
24             False
25             False
26             False
27             False
28             False
29             False
30             False
31             False
32             False
33             False
34             False
35             False
36             False
37             False
38             False
39             False
40             False
41             False
42             False
43             False
44             False
45             False
46             False
47             False
48             False
49             False
50             False
51             False
52             False
53             False
54             False

[55 rows x 23 columns]

▻  Filas con datos NaN:
indiv               0
condicion           0
dias                0
genero              0
edad                0
edad_num            0
tipo_diagnostico    0
melanch             0
hospitalizacion     0
educacion           0
edu_num             0
edo_civil           0
work                0
madrs1              0
madrs2              0
res_madrs           0
sum_act             0
prom_act            0
min_act             0
max_act             0
estres              0
nvl_depresion       0
variabilidad_act    0
dtype: int64
- - - - - - - - -  Estadísticos - - - - - - - - -
▻  Dato más común por columna:
indiv                condition_1
condicion                    0.0
dias                        13.0
genero                       1.0
edad                       45-49
edad_num                     6.0
tipo_diagnostico               0
melanch                        0
hospitalizacion                0
educacion                      0
edu_num                      0.0
edo_civil                      0
work                           0
madrs1                       0.0
madrs2                       0.0
res_madrs                    0.0
sum_act                  1413779
prom_act                    54.7
min_act                      0.0
max_act                   8000.0
estres                 108752.23
nvl_depresion       Sin sintomas
variabilidad_act          8000.0
Name: 0, dtype: object

▻  Resumen estadístico:

              indiv  condicion       dias     genero   edad   edad_num  \
count            55  55.000000  55.000000  55.000000     55  55.000000
unique           55        NaN        NaN        NaN     10        NaN
top     condition_1        NaN        NaN        NaN  45-49        NaN
freq              1        NaN        NaN        NaN      9        NaN
mean            NaN   0.418182  12.600000   1.454545    NaN   4.672727
std             NaN   0.497807   2.491467   0.502519    NaN   2.449902
min             NaN   0.000000   5.000000   1.000000    NaN   1.000000
25%             NaN   0.000000  13.000000   1.000000    NaN   3.000000
50%             NaN   0.000000  13.000000   1.000000    NaN   5.000000
75%             NaN   1.000000  13.000000   2.000000    NaN   6.500000
max             NaN   1.000000  20.000000   2.000000    NaN  10.000000

        tipo_diagnostico   melanch  hospitalizacion  educacion  ...  \
count               55.0      55.0             55.0       55.0  ...
unique              <NA>      <NA>             <NA>        4.0  ...
top                 <NA>      <NA>             <NA>        0.0  ...
freq                <NA>      <NA>             <NA>       33.0  ...
mean            0.727273  0.709091         0.745455        NaN  ...
std             0.932034  0.955931         0.927326        NaN  ...
min                  0.0       0.0              0.0        NaN  ...
25%                  0.0       0.0              0.0        NaN  ...
50%                  0.0       0.0              0.0        NaN  ...
75%                  2.0       2.0              2.0        NaN  ...
max                  3.0       2.0              2.0        NaN  ...


In [ ]:
# Guardamos el archivo final
try:
   df.to_csv('datos_limpiados.csv', index=False)
except PermissionError:
  print("Error: No tienes permiso para escribir en este archivo.")